<div class="container" ng-controller="MeetingsCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-lg-12">

      <!-- TABS  -->
      <div class="col-3 col-lg-3 sidebar">

        <div class="bs-sidebar hidden-print" role="complementary">
          <h4>Meetings</h4>

          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#upcoming" data-toggle="tab" ng-click="setTimeframe('upcoming')">Upcoming meetings</a>
            </li>
            <li>
              <a href="#previous" data-toggle="tab" ng-click="setTimeframe('previous')">Previous meetings</a>
            </li>
          </ul>

        </div>
      </div>

      <div class="tab-content">
        <!--  UPCOMING MEETINGS  -->
        <div id="upcoming" class="col-9 col-lg-9 tab-pane active">
          <!-- TITLE ARTICLE  -->
          <div class="col-4 col-lg-4 wraptitle">

            <h2 ng-show="timeframe == 'upcoming'">Upcoming meetings</h2>
            <h2 ng-show="timeframe == 'previous'">Previous meetings</h2>

            <div class="push20"></div>
            <h4 ng-show="timeframe === 'previous'">Year</h4>
            <div class="dropdown" ng-show="timeframe === 'previous'">
              <button class="btn dropdown-toggle" type="button" id="DateOfEvents" data-toggle="dropdown">
                <p>{{selectedYear}}</p>
                <span class="pull-right caret"></span>
              </button>
              <ul class="dropdown-menu menuDates" role="menu" aria-labelledby="DateOfEvents">
                <li ng-repeat="year in yearList" role="presentation">
                  <a role="menuitem" tabindex="-3" href="#" ng-click="setFilterParam('year', year)">{{year}}</a>
                </li>
              </ul>
            </div>
            <div class="push20"></div>
            <h4>Country</h4>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="DateOfEvents" data-toggle="dropdown">
                <p>{{selectedCountry}}</p>
                <span class="pull-right caret"></span>
              </button>

              <ul class="dropdown-menu menuDates" role="menu" aria-labelledby="DateOfEvents">
                <li ng-repeat="country in memberCountries track by country.countryCode" role="presentation">
                  <a ng-click="setFilterParam('country', country.countryCode)" role="menuitem" tabindex="-{{$index}}" href="#">{{country.name}}</a>
                </li>

              </ul>
            </div>
          </div>
          <div class="push20"></div>

          <!-- ARTICLE  -->
          <div class="col-8 col-lg-8 wraparticle">
            <div class="article">
              <!-- Table -->
              <pre class="pull-right pagination-totals">{{totalPages}} Pages</pre>
              <pagination
              class="pull-right no-margin"
              on-select-page="setPage(page)"
              page="currentPage"
              total-items="totalMeetings"
              items-per-page="perPage"
              boundary-links="true"
              max-size="3"
              rotate="false"
              num-pages="totalPages">
            </pagination>

            <!-- generate the meetings calendar -->
            <table class="table meeting-table" ng-show="!meetings.length">
              <tr>
                <th>Date and Venue</th>
                <th>Event</th>
                <th class="right">{{year}}</th>
              </tr>
              <tr>
                <td>No meetings found...</td>
                <td></td>
                <td></td>
              </tr>
            </table>

            <meetings-calendar format="long" country="selectedCountry" meeting-data="meetings"></meetings-calendar>

          </div>
        </div>
      </div>

      <!--  Previous Meetings -->
      <!-- <div id="previous" class="col-9 col-lg-9 tab-pane"></div> -->

    </div><!--/col12-->
  </div><!--/row-->
</div><!--/.container--></div>
