<table class="table meeting-table">

  <tr>
    <th>Date and Venue</th>
    <th>Event</th>
  </tr>

<!--   <tr class="year" ng-repeat-start="(year, months) in meetingSet.meetings">
    <td colspan="2"><p class="blue4">{{dateInfo.year}}</p></td>
  </tr>
-->
<tr class="month" ng-repeat-start="(month, meetings) in meetings">
  <td colspan="2"><p class="important">{{getLocalizedMonth(month)}}</p></td>
</tr>


<tr class="event" ng-repeat-end>
  <td colspan="2">
    <table ng-show="!meetings.length">
      <tr>
        <td>No meetings...</td>
      </tr>
    </table>
    <table>
      <tr ng-repeat="meeting in meetings | meetingFilter:selectedCountry.countryCode">
        <td>
          <p>{{meeting.startDay}} - {{meeting.endDay}} {{getLocalizedMonth(meeting.startMonth)}} {{meeting.startYear}}<br />{{meeting.city}}, {{meeting.country}}</p>
          <td><h4>{{meeting.title}}</h4></td>
          <td>
            <a ng-show="meeting.documentsUrl" href="{{meeting.documentsUrl}}" target="_blank" class="pull-right doc-url">Documents »</a>
          </td>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>