<div class="container" ng-controller="SearchCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-lg-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-lg-3 col-xs-3 sidebar">
          <div class="bs-sidebar hidden-print" role="complementary">
            <h2>Search Results</h2>
            <div class="push15"></div>
            <div class="search-result">
              <p class="important blue4">Training Materials</p>
            </div>
            <div class="push15"></div>
            <p class="bg-info"><span class="important">Total:</span> 7</p>

          </div>
        </div>

        <div class="tab-content">

          <div class="col-lg-9 col-xs-9">

            <!-- ARTICLE  -->
            <div class="col-lg-10 col-xs-10 wraparticle">
              <div class="article">

                <!-- Table -->
                <table class="table meeting-table">
                  <tr class="month">
                    <td colspan="2"><p class="important">Resources page</p></td>
                  </tr>
                  <tr class="event">
                    <td colspan="2">
                      <table>
                        <tr>
                          <td>
                            <h4>Training Materials</h4>
                            <p>Pursuant to decision X/29, draft EBSA training manual and modules, was developed, with the kind financial support from the Government of Germany, to facilitate the capacity development with regard to the scientific description of areas meeting EBSAs criteria.</p>
                          </td>
                          <td>
                            <a href="#" target="_blank" class="pull-right">Link »</a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <h4>The training manual</h4>
                            <p>provides an introduction to the CBD EBSA criteria, as well as practical guidance on how to identify areas based on each individual EBSA criterion. In addition, the module discusses how to describe areas based on multiple EBSA criteria.</p>
                          </td>
                          <td>
                            <a href="#" target="_blank" class="pull-right">Link »</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr class="month">
                    <td colspan="2"><p class="important">About page</p></td>
                  </tr>
                  <tr class="event">
                    <td colspan="2">
                      <table>
                        <tr>
                          <td><h4>EBSA Training Materials</h4>
                            <p>The decision also requested the Executive Secretary to prepare a training manual and modules in the working languages of the United Nations which can be used to meet the capacity-building needs for identifying ecologically or biologically significant marine areas using...</p>
                          </td>
                          <td>
                            <a href="#" target="_blank" class="pull-right">Link »</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <ul class="pull-right pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div><!--/span-->

      </div>
    </div>
  </div><!--/row-->
</div>