<div class="container" ng-controller="SearchCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-lg-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-lg-3 col-xs-3 sidebar">
          <div class="bs-sidebar hidden-print" role="complementary">
            <h2>Search Results</h2>
            <div class="push15"></div>
            <div class="search-result">
              <p class="important blue4">{{query}}</p>
            </div>
            <div class="push15"></div>
            <p class="bg-info"><span class="important">Total: </span>{{matchCount}}</p>

          </div>
        </div>

        <div class="tab-content">

          <div class="col-lg-9 col-xs-9">

            <!-- ARTICLE  -->
            <div class="col-lg-10 col-xs-10 wraparticle">
              <div class="article">

                <!-- Table -->
                <table class="table meeting-table">

                  <tr class="month" ng-show="!matchCount">
                    <td colspan="2"><p class="important">No matches found...</p></td>
                  </tr>

                  <tr class="month" ng-repeat-start="(pageName, matches) in searchResults">
                    <td colspan="2"><p class="important">{{capitalise(pageName)}} Page</p></td>
                  </tr>
                  <tr class="event" ng-repeat-end>
                    <td colspan="2">
                      <table>
                        <tr ng-repeat="match in matches | orderBy:score">
                          <td>
                            <h4>{{match.tabName}}</h4>
                            <p>{{match.body}}</p>
                          </td>
                          <td>
                            <a ng-href="{{pageName}}?tab={{match.tabHash}}&amp;highlight={{match.xpath}}&amp;term={{match.body}}" class="pull-right">Link »</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!-- <ul class="pull-right pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul> -->

              </div>
            </div>
          </div>
        </div><!--/span-->

      </div>
    </div>
  </div><!--/row-->
</div>