<div class="container" ng-controller="EbsasCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-lg-12 col-xs-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-lg-3 col-xs-3 sidebar">
          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>EBSAs</h4>

            <ul class="nav nav-tabs" showtab>
              <li class="active">
                <a href="#considered">
                  Considered by the CBD Conference of the Parties
                </a>
              </li>
              <li>
                <a href="#to-be-considered">
                  To be Considered by the CBD Subsidiary Body on Scientific, Technical and Technological Advice (SBSTTA) and/or the Conference of the Parties
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-content">
          <!--  Select a date  -->
          <div id="considered" class="col-lg-9 col-xs-9 tab-pane active">
            <div class="wraptitle col-lg-4 col-xs-4">
              <h2>Considered by COP</h2>
              <div class="push20"></div>
              <h4>EBSAs Regions</h4>
              <div class="dropdown">
                <button class="btn dropdown-toggle list-filter" type="button" data-toggle="dropdown">
                  <p>{{activeRegion.title.en}}</p>
                  <span class="pull-right caret"></span>
                </button>
                <ul class="dropdown-menu menuDates" role="menu" aria-labelledby="DateOfEvents">
                  <li role="presentation" ng-repeat="region in regionList">
                    <a role="menuitem" tabindex="-1" href="" ng-click="setActiveRegion(region)">{{region.title.en}}</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- events/workshops  -->
            <div class="wraparticle col-lg-8 col-xs-8 past-events">
              <div class="article">
                <!-- Table -->
                <table class="ebsa-table table">
                  <tr>
                    <th colspan="2">{{activeRegion.title.en}}</th>
                  </tr>
                  <tr ng-repeat="ebsa in regionData">
                    <td><p>{{ebsa.title_t}}</p></td>
                    <td>
                      <a target="ebsa" ng-href="{{ebsa.url_ss[0]}}" class="pull-right">Details »</a>
                    </td>
                  </tr>
                  <tr ng-show="regionData.length==0">
                    <td colspan="2">No records.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <!--  International Day for Biological Diversity 2013: Water and Biodiversity -->
          <div id="to-be-considered" class="col-lg-9 col-xs-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="wraptitle col-lg-4 col-xs-4">
              <h2>To be considered by SBSTTA and/or COP</h2>
              <div class="push20"></div>
            </div>

            <!-- ARTICLE  -->
            <div class="wraparticle col-lg-8 col-xs-8">
              <div class="article">
                <!-- Table -->
                <table class="ebsa-table table">
                  <tr>
                    <th colspan="2"></th>
                  </tr>
                  <tr>
                    <td><p>Regional Workshop to Facilitate the Description of Ecologically or Biologically Significant Marine Areas (EBSAs) in the Black Sea and the Caspian Sea 
                      <small>(Baku, Azerbaijan, 24 - 29 April 2017)</small></p></td>
                      <td>
                        <a href="https://www.cbd.int/meetings/EBSAWS-2017-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>Regional Workshop to Facilitate the Description of Ecologically or Biologically Significant Marine Areas in the Baltic Sea <small>(Helsinki, Finland, 19 - 24 February 2018)</small></p></td>
                      <td>
                        <a href="https://www.cbd.int/meetings/EBSAWS-2018-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div><!--/span-->

        </div>
      </div>
    </div><!--/row-->
  </div>
