<div class="container" ng-controller="EbsasCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-lg-12 col-xs-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-lg-3 col-xs-3 sidebar">
          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>EBSAs</h4>

            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#considered" data-toggle="tab">
                  Considered by the CBD Conference of the Parties
                </a>
              </li>
              <li>
                <a href="#to-be-considered" data-toggle="tab">
                  To be Considered by the CBD Subsidiary Body on Scientific, Technical and Technological Advice (SBSTTA) and/or the Conference of the Parties
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab-content">
          <!--  Select a date  -->
          <div id="considered" class="col-lg-9 col-xs-9 tab-pane active">
            <div class="wraptitle col-lg-4 col-xs-4">
              <h2>Considered by COP</h2>
              <div class="push20"></div>
              <h4>Regions</h4>
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="DateOfEvents" data-toggle="dropdown">
                  <p>EBSAs regions</p>
                  <span class="pull-right caret"></span>
                </button>
                <ul class="dropdown-menu menuDates" role="menu" aria-labelledby="DateOfEvents">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="setActiveRegion('southPacific')">Western South Pacific region</a>
                  </li>
                  <li role="presentation">
                    <a role="menuitem" tabindex="-2" href="#" ng-click="setActiveRegion('caribbean')">Wider Caribbean and Western Mid-Atlantic region</a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- events/workshops  -->
            <div class="wraparticle col-lg-8 col-xs-8 past-events">
              <div class="article">
                <!-- Table -->
                <table class="ebsa-table table" ng-show="activeRegion === 'southPacific'">
                  <tr>
                    <th colspan="2">Western South Pacific region</th>
                  </tr>
                  <tr ng-repeat="ebsa in southPacificData">
                    <td><p>{{ebsa.title}}</p></td>
                    <td>
                      <a target="_blank" ng-href="{{ebsa.url}}" class="pull-right">Details »</a>
                    </td>
                  </tr>
                </table>

                <!-- Table -->
                <table class="ebsa-table table" ng-show="activeRegion === 'caribbean'">
                  <tr>
                    <th colspan="2">Wider Caribbean and Western Mid-Atlantic region</th>
                  </tr>

                  <tr ng-repeat="ebsa in caribbeanData">
                    <td><p>{{ebsa.title}}</p></td>
                    <td>
                      <a target="_blank" ng-href="{{ebsa.url}}" class="pull-right">Details »</a>
                    </td>
                  </tr>

                </table>
              </div>
            </div>
          </div>

          <!--  International Day for Biological Diversity 2013: Water and Biodiversity -->
          <div id="to-be-considered" class="col-lg-9 col-xs-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="wraptitle col-lg-4 col-xs-4">
              <h2>To be considered by SBSTTA and/or COP</h2>
              <div class="push20"></div>
              <p>Pitchfork XOXO cillum nesciunt lo-fi mlkshk Godard mumblecore beard. Irony 3 wolf moon minim tattooed fanny pack authentic Pinterest, salvia fingerstache High Life cornhole. Try-hard umami seitan twee, consequat Pinterest narwhal jean shorts normcore chambray PBR artisan disrupt commodo. Wolf Brooklyn you probably haven't heard of them, slow-carb locavore nihil chambray gluten-free ethical tousled retro pariatur hella American Apparel. Sint bitters four loko anim, eiusmod semiotics non keytar YOLO veniam voluptate irure mlkshk. Master cleanse artisan cupidatat velit Godard, biodiesel slow-carb selfies you probably haven't heard of them voluptate Cosby sweater ut asymmetrical ennui qui. Literally fixie meh reprehenderit Wes Anderson lomo brunch, artisan Helvetica nihil whatever gluten-free mlkshk proident VHS.</p>
            </div>

            <!-- ARTICLE  -->
            <div class="wraparticle col-lg-8 col-xs-8">
              <div class="article">
                <!-- Table -->
                <table class="ebsa-table table">
                  <tr>
                    <th colspan="2"></th>
                  </tr>
                  <tr>
                    <td><p>Southern Indian Ocean Regional Workshop to Facilitate the Description of EBSAs
                      <small>(Flic en Flac, Mauritius, from 30 July to 3 August 2012)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSA-SIO-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>Eastern Tropical and Temperate Pacific Regional Workshop to Facilitate the Description of EBSAs <small>(Galápagos Islands, Ecuador, from 27 to 31 August 2012)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSA-ETTP-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>North Pacific Regional Workshop to Facilitate the Description of EBSAs <small>Moscow, Russian Federation, from 25 February to 1 March 2013)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSA-NP-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>South-Eastern Atlantic Regional Workshop to Facilitate the Description of EBSAs <small>(Swakopmund, Namibia, from 8 to 12 April 2013)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSA-SEA-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>Arctic Regional Workshop to Facilitate the Description of EBSAs<br /><small>(Helsinki, Finland, from 3 to 7 March 2014)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSAWS-2014-01" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>North-West Atlantic Regional Workshop to Facilitate the Description of EBSAs <small>(Montreal, Canada, from 24 to 28 March 2014)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSAWS-2014-02" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                    <tr>
                      <td><p>Mediterranean Regional Workshop to Facilitate the Description of EBSAs <small>(Málaga, Spain, from 7 to 11 April 2014)</small></p></td>
                      <td>
                        <a href="http://www.cbd.int/doc/?meeting=EBSAWS-2014-03" target="_blank" class="pull-right">Documents »</a>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div><!--/span-->

        </div>
      </div>
    </div><!--/row-->
  </div>