<div class="container" ng-controller="PartnersCtrl">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-12">
      <div class="row partners">

        <div class="col-lg-2 col-xs-2 partner-container">
          <!-- <div class="push15"></div> -->
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/bmud-logo.jpg" alt="Federal Ministry for the Environment, Nature Conservation, Building and Nuclear Safety" />
          </div>
          <!-- <div class="push5"></div> -->
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/jbf-logo.jpg" alt="Japan Biodiversity Fund" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/gobi-logo.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/UNEP-ENG.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/UNEP-CEP-ENG.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/SPREP.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>
      </div>

      <div class="push15"></div>
      <div class="row partners">

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/CPPS.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/FIBA-RVB34.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/birdlife-strapline.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/PICES.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/NOWPAP.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/CAFF.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

      </div>

      <div class="push15"></div>
      <div class="row partners">

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img class="partner-logo" src="/app/img/COI_Eng.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="/app/img/partner-logo-small.jpg" alt="To be provided by relevant partners" />
          </div>
          <div class="txt-partner placeholder-partner">
            <h5>Additional partners to be added</h5>
          </div>
        </div>

      </div>

    </div><!--/.container-->
  </div>
</div>
