<div class="container" ng-controller="PartnersCtrl">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-12">
      <div class="row partners">

        <div class="col-lg-2 col-xs-2">
          <!-- <div class="push15"></div> -->
          <a href="http://www.bmub.bund.de/" target="_blank" title="Federal Ministry for the Environment, Nature Conservation, Building and Nuclear Safety">
            <img class="partner-logo" src="/app/img/bmud-logo.png" alt="Federal Ministry for the Environment, Nature Conservation, Building and Nuclear Safety" />
          </a>
          <!-- <div class="push5"></div> -->
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2">
          <a href="https://www.cbd.int/jbf/default.shtml" target="_blank" title="Japan Biodiversity Fund">
            <img class="partner-logo" src="/app/img/jbf-logo.jpg" alt="Japan Biodiversity Fund" />
          </a>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2">
          <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
            <img class="partner-logo" src="/app/img/gobi-logo.jpg" alt="Global Ocean Biodiversity Initiative" />
          </a>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2">
          <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
            <img class="partner-logo" src="/app/img/UNEP-ENG.png" alt="Global Ocean Biodiversity Initiative" />
          </a>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2">
          <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
            <img class="partner-logo" src="/app/img/UNEP-CEP-ENG.png" alt="Global Ocean Biodiversity Initiative" />
          </a>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2">
          <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
            <img class="partner-logo" src="/app/img/SPREP.jpg" alt="Global Ocean Biodiversity Initiative" />
          </a>
          <div class="txt-partner"></div>
        </div>


        <div class="row partners">

          <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/CPPS.png" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

          <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/FIBA-RVB34.jpg" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

          <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/birdlife-strapline.jpg" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

          <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/PICES.gif" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

          <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/NOWPAP.jpg" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

          <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/CAFF.png" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

        </div>

        <!-- <div class="push15"></div> -->
        <div class="row partners">

        <div class="col-lg-2 col-xs-2">
            <a href="http://www.gobi.org/" target="_blank" title="Global Ocean Biodiversity Initiative">
              <img class="partner-logo" src="/app/img/COI_Eng.png" alt="Global Ocean Biodiversity Initiative" />
            </a>
            <div class="txt-partner"></div>
          </div>

          <div class="col-lg-2 col-xs-2">
            <img src="/app/img/partner-logo.jpg" alt="To be provided by relevant partners" />
            <div class="txt-partner" style="height:auto">Additional partners to be added</div>
          </div>

        </div>


      </div><!--/row-->

    </div><!--/.container-->
  </div>
</div>
