<div class="container" ng-controller="PartnersCtrl">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-12">
      <div class="row partners">

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/bmud-logo.jpg" alt="Federal Ministry for the Environment, Nature Conservation, Building and Nuclear Safety" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/jbf-logo.jpg" alt="Japan Biodiversity Fund" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/UNEP-ENG.jpg" alt="UNEP" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/UNEP-CEP-ENG.jpg" alt="Caribbean Environment Programme" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/NOWPAP.jpg" alt="NOWPAP" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/SPREP.jpg" alt="SPREP" />
          </div>
          <div class="txt-partner"></div>
        </div>
      </div>

      <div class="push15"></div>
      <div class="row partners">

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/CPPS.jpg" alt="CPPS" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/COI_Eng.jpg" alt="IOC" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/birdlife-strapline.jpg" alt="Birdlife International" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/CAFF.jpg" alt="CAFF" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/MGEL_DUKE.jpg" alt="Duke University" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/FIBA-RVB34.jpg" alt="FIBA" />
          </div>
          <div class="txt-partner"></div>
        </div>

      </div>

      <div class="push15"></div>
      <div class="row partners">

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/gobi-logo.jpg" alt="Global Ocean Biodiversity Initiative" />
          </div>
          <div class="txt-partner"></div>
        </div>

        <div class="col-lg-2 col-xs-2 partner-container">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/PICES.jpg" alt="PICES" />
          </div>
          <div class="txt-partner"></div>
        </div>


        <div class="col-lg-2 col-xs-2">
          <div class="partner-img-container">
            <span class="partner-logo-helper"></span>
            <img src="img/partner-logo-small.jpg" alt="Additional partners to be added" />
          </div>
          <div class="txt-partner placeholder-partner">
            <h5>Additional partners <br />to be added</h5>
          </div>
        </div>

      </div>

    </div><!--/.container-->
  </div>
</div>
