<div class="container">
  <gmap></gmap>
</div>
<div class="push5 clear"></div>
<div class="container">
  <div class="col-lg-10 col-lg-offset-2">
    <p class="grey">DISCLAIMER: The designations employed and the presentation of material in this map do not imply the
      expression of any opinion whatsoever on the part of the Secretariat concerning the legal status of any country,
      territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.</p>
    </div>
  </div>

  <div class="push50 clear">&nbsp;</div>

  <div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

      <div class="col-xs-12">
        <div class="col-6 col-lg-6">
          <table class="ebsa-table table">
            <tr>
              <th colspan="2"><img src="/app/img/icon-home.png" alt="meeting icon" /> Upcoming Meetings</th>
            </tr>
            <tr>
              <td><h4>Arctic Regional Workshop to Facilitate the Description of EBSAs</h4></td>
              <td>
                <a href="http://www.cbd.int/doc/?meeting=EBSAWS-2014-01" target="_blank" class="pull-right">Details »</a>
              </td>
            </tr>
            <tr>
              <td><h4>North-West Atlantic Regional Workshop to Facilitate the Description of EBSAs</h4></td>
              <td>
                <a href="http://www.cbd.int/doc/?meeting=EBSAWS-2014-02" target="_blank" class="pull-right">Details »</a>
              </td>
            </tr>
            <tr>
              <td><h4>Mediterranean Regional Workshop to Facilitate the Description of EBSAs</h4></td>
              <td>
                <a href="http://www.cbd.int/doc/?meeting=EBSAWS-2014-03" target="_blank" class="pull-right">Details »</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-6 col-lg-6">
          <table class="ebsa-table table">
            <tr>
              <th colspan="2"><img src="/app/img/icon-home.png" alt="meeting icon" /> Previous Meetings</th>
            </tr>
            <tr>
              <td><h4>Western South Pacific Regional Workshop to Facilitate the Description of EBSAs</h4></td>
              <td>
                <a href="http://www.cbd.int/doc/?meeting=RWEBSA-WSPAC-01" target="_blank" class="pull-right">Details »</a>
              </td>
            </tr>
            <tr>
              <td><h4>Wider Caribbean and Western Mid-Atlantic Regional Workshop to Facilitate the Description of EBSAs</h4></td>
              <td>
                <a href="http://www.cbd.int/doc/?meeting=RWEBSA-WCAR-01" target="_blank" class="pull-right">Details »</a>
              </td>
            </tr>
            <tr>
              <td><h4>Southern Indian Ocean Regional Workshop to Facilitate the Description of EBSAs</h4></td>
              <td>
                <a href="http://www.cbd.int/doc/?meeting=EBSA-SIO-01" target="_blank" class="pull-right">Details »</a>
              </td>
            </tr>
          </table>
        </div>
      </div><!--/span-->

    </div><!--/row-->

  </div><!--/.container-->

  <div class="clear push50"></div>
