<div ng-controller="IndexCtrl">
  <div class="container">
    <div class="google-map">
      <div class="col-lg-2">
        <div class="push20"></div>
        <h3>View EBSAs Regions</h3>
        <div class="push20"></div>
        <div>
          <input
          class="pacific"
          type="button"
          value="South Pacific Region »"
          ng-click="showFeature('southPacific')" />
        </div>

        <div>
          <input
          class="caribbean"
          type="button"
          value="Wider Caribbean Region »"
          ng-click="showFeature('caribbean')"/>
        </div>
        <div class="push20"></div><div class="push15"></div>
        <p>Butcher cillum Vice, readymade odio Tumblr narwhal master cleanse. Shabby chic irure brunch, ethical seitan nulla excepteur. YOLO brunch Etsy scenester craft beer single-origin coffee cillum irony, mustache laboris lomo ea reprehenderit semiotics. Hashtag locavore try-hard whatever, PBR&B pop-up anim Marfa Pitchfork in twee four loko ennui vinyl consectetur. Duis delectus est chia narwhal laborum fap trust fund, selfies Bushwick farm-to-table Godard. Artisan church-key XOXO, normcore sustainable ea ut cardigan.</p>
      </div>
      <div class="col-lg-10">
        <gmap region="selectedRegion"></gmap>
      </div>
    </div>
  </div>
  <div class="push5 clear"></div>
  <div class="container">
    <div class="col-lg-10 col-lg-offset-2">
      <p class="grey">DISCLAIMER: The designations employed and the presentation of material in this map do not imply the expression of any opinion whatsoever on the part of the Secretariat concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.
      </p>
    </div>
  </div>

  <div class="push50 clear">&nbsp;</div>

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12">

        <div class="col-6 col-lg-6">
          <meetings-calendar
          format="short"
          meeting-data="meetingsUpcoming"
          items-per-timeframe="3"
          table-title="Upcoming Meetings">
        </meetings-calendar>
      </div>

      <div class="col-6 col-lg-6">
        <meetings-calendar
        format="short"
        meeting-data="meetingsPrevious"
        items-per-timeframe="3"
        table-title="Previous Meetings">
      </meetings-calendar>
    </div>
  </div><!--/span-->

</div><!--/row-->

</div><!--/.container-->
</div>
<div class="clear push50"></div>