<div class="container" ng-controller="ResourcesCtrl" highlighter>
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-3 col-xs-3">

          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>Resources</h4>

            <ul class="nav nav-tabs" showtab>
              <li class="active"><a href="#criteria">EBSA Criteria</a></li>
              <li><a href="#workshop-reports">Workshop Reports</a></li>
              <li><a href="#other-meeting-reports">Other Meeting Reports</a></li>
              <li><a href="#brochures">Brochures</a></li>
              <li><a href="#training-materials">Training Materials</a></li>
              <li><a href="#integrating-traditional">Integrating Traditional Knowledge and Socio-Cultural Information in Applying EBSA Criteria</a></li>
              <!-- <li><a href="#training-materials">Training Materials</a></li> -->
              <!-- <li><a href="#relevant-publications">Relevant Publications</a></li> -->
            </ul>
            <ul class="other-criteria">
              <li class="sub-tabs">OTHER RELEVANT CRITERIA
                <ul>
                  <li>
                    <a href="http://www.fao.org/fishery/topic/166303/en" target="_blank">Food and Agriculture Organization of the UN—Conservation and Protection of Vulnerable Marine Ecosystems (VMEs)</a>
                  </li>
                  <li>
                    <a href="http://www.imo.org/OurWork/Environment/PollutionPrevention/PSSAs/Pages/Default.aspx" target="_blank">International Maritime Organization—Particularly Sensitive Sea Areas (PSSAs)</a>
                  </li>
                </ul>
              </li>
            </ul>

          </div>

        </div>
        <div class="tab-content">

          <!--  Criteria  -->
          <div id="criteria" class="col-9 col-xs-9 tab-pane active">
            <!-- ARTICLE  -->
            <div class="col-10 col-xs-10">
              <div class="article">
                <h2>Criteria</h2>

                <div class="push20"></div>

                <p>In 2008, the ninth meeting of the Conference of the Parties to the Convention on Biological Diversity (COP 9) adopted the following scientific criteria for identifying ecologically or biologically significant marine areas in need of protection in open-ocean waters and deep-sea habitats.</p>

                <h4>CBD scientific criteria for ecologically or biologically significant areas (EBSAs) (annex I, decision IX/20)</h4>
                <ol>
                  <li>Uniqueness or Rarity</li>
                  <li>Special importance for life history stages of species</li>
                  <li>Importance for threatened, endangered or declining species and/or habitats</li>
                  <li>Vulnerability, Fragility, Sensitivity, or Slow recovery</li>
                  <li>Biological Productivity</li>
                  <li>Biological Diversity</li>
                  <li>Naturalness</li>
                </ol>

                <div class="push15"></div>

                <p>For more details on the EBSA criteria, please see:</p>

                <div class="push5"></div>

                <div class="col-3 col-xs-3 list-themes">
                  <a href="https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/ebsaws-2014-01-azores-brochure-en.pdf" alt="Brochure for the Scientific Criteria and Guidance" target="_blank">
                    <img src="img/brochures-scientific.jpg" alt="Brochure for the Scientific Criteria and Guidance" />
                  </a>
                </div>
                <div class="col-8 col-xs-8 article">
                  <h3>Brochure for the Scientific Criteria and Guidance for Identifying EBSAs and Designing Representative Networks of Marine Protected Areas in Open Ocean Waters and Deep Sea Habitats</h3>
                  <div class="push15"></div>
                  <div class="col-2 col-xs-2 nopadding">
                    <img src="img/download-icon.png" alt="Download icon" />
                  </div>
                  <div class="col-10 col-xs-10">
                    <div class="button">
                      <div class="link">
                        <a title="Download PDF" href="https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/ebsaws-2014-01-azores-brochure-en.pdf" target="_blank">Download &#187;</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <!-- Workshop Reports -->
          <div id="workshop-reports" class="col-9 col-xs-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="col-10 col-xs-10">
              <h2>Workshop reports</h2>
            </div>

            <div class="clear push20"></div>

            <div class="col-6 col-xs-6">
              <div class="col-4 col-xs-4">
                <a href="http://www.cbd.int/doc/meetings/mar/rwebsa-wspac-01/official/rwebsa-wspac-01-sbstta-16-inf-06-en.pdf" target="_blank" alt="Western South Pacific Regional">
                  <img src="img/reports-westernsouthpacific.jpg" alt="Western South Pacific Regional" />
                </a>
              </div>
              <div class="col-8 col-xs-8 article">
                <h3>Western South Pacific Regional Workshop to Facilitate the Description of EBSAs</h3>
                <p class="blue4">(Nadji, Fiji, from 22 to 25 November 2011)</p>

                <div class="col-2 col-xs-2 nopadding">
                  <img src="img/download-icon.png" alt="Download icon" />
                </div>
                <div class="col-10 col-xs-10">
                  <div class="button">
                    <div class="link">
                      <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/rwebsa-wspac-01/official/rwebsa-wspac-01-sbstta-16-inf-06-en.pdf" target="_blank">Download &#187;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-xs-6">
              <div class="col-4 col-xs-4">
                <a href="http://www.cbd.int/doc/meetings/mar/rwebsa-wcar-01/official/rwebsa-wcar-01-sbstta-16-inf-07-en.pdf" target="_blank" alt="Wider Caribbean and Western Mid-Atlantic Regional">
                  <img src="img/reports-widercaribbean.jpg" alt="Wider Caribbean and Western Mid-Atlantic Regional" />                </a>
                </div>
                <div class="col-8 col-xs-8 article">
                  <h3>Wider Caribbean and Western Mid-Atlantic Regional Workshop to Facilitate the Description of EBSAs</h3>
                  <p class="blue4">(Recife, Brazil, from 28 February to 2 March 2011)</p>
                  <div class="col-2 col-xs-2 nopadding">
                    <img src="img/download-icon.png" alt="Downlaod icon" />
                  </div>
                  <div class="col-10 col-xs-10">
                    <div class="button">
                      <div class="link">
                        <a title="Download PDF" target="_blank" href="http://www.cbd.int/doc/meetings/mar/rwebsa-wcar-01/official/rwebsa-wcar-01-sbstta-16-inf-07-en.pdf">Download &#187;</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clear push15"></div><div class="push15"></div>

              <div class="col-6 col-xs-6">
                <div class="col-4 col-xs-4">
                  <a href="http://www.cbd.int/doc/meetings/mar/ebsa-ettp-01/official/ebsa-ettp-01-04-en.pdf" target="_blank" alt="Eastern Tropical and Temperate Pacific">
                    <img src="img/reports-easterntropical.jpg" alt="Eastern Tropical and Temperate Pacific" />                      </a>
                  </div>
                  <div class="col-8 col-xs-8 article">
                    <h3>Eastern Tropical and Temperate Pacific Regional Workshop to Facilitate the Description of EBSAs</h3>
                    <p class="blue4">(Galápagos Islands, Ecuador, from 27 to 31 August 2012)</p>
                    <div class="col-2 col-xs-2 nopadding">
                      <img src="img/download-icon.png" alt="Download icon" />
                    </div>
                    <div class="col-10 col-xs-10">
                      <div class="button">
                        <div class="link">
                          <a title="Downlad PDF" href="http://www.cbd.int/doc/meetings/mar/ebsa-ettp-01/official/ebsa-ettp-01-04-en.pdf" target="_blank">Download &#187;</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-xs-6">
                  <div class="col-4 col-xs-4">
                    <a href="http://www.cbd.int/doc/meetings/mar/ebsa-sio-01/official/ebsa-sio-01-04-en.pdf" target="_blank" alt="Southern Indian Ocean Regional">
                      <img src="img/reports-southindian.jpg" alt="Southern Indian Ocean Regional" />                             </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Southern Indian Ocean Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Flic en Flac, Mauritius, from 30 July to 3 August 2012)</p>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsa-sio-01/official/ebsa-sio-01-04-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clear push15"></div><div class="push15"></div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="http://www.cbd.int/doc/meetings/mar/ebsa-np-01/official/ebsa-np-01-04-en.pdf" target="_blank">
                        <img src="img/reports-northpacific.jpg" alt="North Pacific Regional Workshop to Facilitate the Description of EBSAs" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>North Pacific Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Moscow, Russian Federation, from 25 February to 1 March 2013)</p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsa-np-01/official/ebsa-np-01-04-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="http://www.cbd.int/doc/meetings/mar/ebsa-sea-01/official/ebsa-sea-01-04-en.pdf" target="_blank">
                        <img src="img/reports-northpacific.jpg" alt="South-Eastern Atlantic Regional Workshop to Facilitate the Description of EBSAs" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>South-Eastern Atlantic Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Swakopmund, Namibia, from 8 to 12 April 2013)</p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsa-sea-01/official/ebsa-sea-01-04-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clear push15"></div><div class="push15"></div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="http://www.cbd.int/doc/meetings/mar/ebsaws-2014-03/official/ebsaws-2014-03-04-en.pdf" target="_blank">
                        <img src="img/reports-northpacific.jpg" alt="Mediterranean Regional Workshop to Facilitate the Description of EBSAs" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Mediterranean Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Málaga, Spain, from 7 to 11 April 2014)</p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsaws-2014-03/official/ebsaws-2014-03-04-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="http://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/official/ebsaws-2014-01-05-en.pdf" target="_blank">
                        <img src="img/reports-northpacific.jpg" alt="Arctic Regional Workshop to Facilitate the Description of EBSAs" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Arctic Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Helsinki, Finland, from 3 to 7 March 2014)</p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/official/ebsaws-2014-01-05-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clear push15"></div><div class="push15"></div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="http://www.cbd.int/doc/meetings/mar/ebsaws-2014-02/official/ebsaws-2014-02-04-en.pdf" target="_blank">
                        <img src="img/reports-northpacific.jpg" alt="North-West Atlantic Regional Workshop to Facilitate the Description of EBSAs" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>North-West Atlantic Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Montreal, Canada, from 24 to 28 March 2014)</p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsaws-2014-02/official/ebsaws-2014-02-04-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="https://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-05-en.pdf" target="_blank">
                        <img src="img/reports-northpacific.jpg" alt="Joint OSPAR/NEAFC/CBD Scientific Workshop on the Identification of EBSAs in the North-East Atlantic" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Joint OSPAR/NEAFC/CBD Scientific Workshop on the Identification of EBSAs in the North-East Atlantic</h3>
                      <p class="blue4">(Hyères, France, from 8 to 9 September 2011)</p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="https://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-05-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clear push15"></div><div class="push15"></div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="https://www.cbd.int/doc/meetings/sbstta/sbstta-18/information/sbstta-18-inf-25-en.pdf " target="_blank">
                        <img src="img/update-nea-2014.jpg" alt="Update on the process to describe areas in the North‐East Atlantic meeting the CBD EBSA criteria (2014)" />
                      </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Update on the process to describe areas in the North‐East Atlantic meeting the CBD EBSA criteria (2014)</h3>
                      <p class="blue4"></p>
                      <div class="push20"></div>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="https://www.cbd.int/doc/meetings/sbstta/sbstta-18/information/sbstta-18-inf-25-en.pdf " target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <img src="img/forthcoming.png" alt="Mediterranean Regional Workshop to Facilitate the Description of EBSAs" />
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Mediterranean Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Málaga, Spain, from 7 to 11 April 2014) (forthcoming)</p>
                    </div>
                  </div> -->

                </div>

                <!--  Other meeting reports -->
                <div id="other-meeting-reports" class="col-9 col-xs-9 tab-pane">
                  <!-- TITLE  -->
                  <div class="col-10 col-xs-10">
                    <h2>Other meeting reports</h2>
                  </div>
                  <div class="clear push20"></div>

                  <!-- Download PDF column 1  -->
                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <a href="http://www.cbd.int/doc/meetings/mar/ewsebm-01/official/ewsebm-01-02-en.pdf" target="_blank">
                        <img src="img/meeting-biological.jpg" alt="Expert Workshop on Ecological Criteria" />                      </a>
                      </div>
                      <div class="col-8 col-xs-8 article">
                        <h3>Expert Workshop on Ecological Criteria and Biogeographic Classification Systems for Marine Areas in Need of Protection</h3>
                        <p class="blue4">(Azores, Portugal, from 2 to 4 October 2007)</p>
                        <div class="col-2 col-xs-2 nopadding">
                          <img src="img/download-icon.png" alt="Download icon" />
                        </div>
                        <div class="col-10 col-xs-10">
                          <div class="button">
                            <div class="link">
                              <a title="Download PD" href="http://www.cbd.int/doc/?meeting=EWSEBM-01" target="_blank">Download &#187;</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- Download PDF column 2  -->
                    <div class="col-6 col-xs-6">
                      <div class="col-4 col-xs-4">
                        <a href="http://www.cbd.int/doc/?meeting=EWBCSIMA-01" target="_blank">
                          <img src="img/meeting-scientific.jpg" alt="Expert Workshop on Scientific and Technical Guidance" />                </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                          <h3>Expert Workshop on Scientific and Technical Guidance on the use of Biogeographic Classification Systems and Identification of Marine Areas beyond national jurisdiction in need of protection</h3>
                          <p class="blue4">(Ottawa, Canada, from 29 September to 2 October 2009)</p>
                          <div class="col-2 col-xs-2 nopadding">
                            <img src="img/download-icon.png" alt="Download icon" />
                          </div>
                          <div class="col-10 col-xs-10">
                            <div class="button">
                              <div class="link">
                                <a title="Download PDF" href="http://www.cbd.int/doc/?meeting=EWBCSIMA-01" target="_blank">Download &#187;</a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="clear push20"></div>
                      </div>
                    </div>

                    <!--  Brochures -->
                    <div id="brochures" class="col-9 col-xs-9 tab-pane">
                      <!-- TITLE ARTICLE  -->
                      <div class="col-10 col-xs-10">
                        <h2>Brochures</h2>
                      </div>

                      <div class="clear push20"></div>

                      <!-- Download PDF column 1  -->
                      <div class="col-6 col-xs-6">
                        <div class="col-4 col-xs-4">
                          <a href="http://www.cbd.int/marine/ebsa/booklet-03-sio-en.pdf" target="_blank">
                            <img src="http://www.cbd.int/marine/ebsa/booklet-03-sio-en-cover.jpg?width=120" alt="Ecologically or Biologically Significant Marine Areas (EBSAs) - Southern Indian Ocean" />
                          </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                          <h3>Ecologically or Biologically Significant Marine Areas (EBSAs) - Southern Indian Ocean</h3>
                          <div class="col-2 col-xs-2 nopadding">
                            <div class="push20"></div>
                            <img src="img/download-icon.png" alt="Download icon" />
                          </div>
                          <div class="col-10 col-xs-10">
                            <div class="push20"></div>
                            <div class="button">
                              <div class="link">
                                <a title="Download PDF" href="http://www.cbd.int/marine/ebsa/booklet-03-sio-en.pdf" target="_blank">Download &#187;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-xs-6">
                        <div class="col-4 col-xs-4">
                          <a href="http://www.cbd.int/marine/ebsa/booklet-02-wcar-en.pdf" target="_blank">
                            <img src="http://www.cbd.int/marine/ebsa/booklet-02-wcar-en-cover.jpg?width=120" alt="Ecologically or Biologically Significant Marine Areas (EBSAs) - Wider Caribbean and Western Mid-Atlantic" />
                          </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                          <h3>Ecologically or Biologically Significant Marine Areas (EBSAs) - Wider Caribbean and Western Mid-Atlantic</h3>
                          <div class="col-2 col-xs-2 nopadding">
                            <div class="push20"></div>
                            <img src="img/download-icon.png" alt="Download icon" />
                          </div>
                          <div class="col-10 col-xs-10">
                            <div class="push20"></div>
                            <div class="button">
                              <div class="link">
                                <a title="Download PDF" href="http://www.cbd.int/marine/ebsa/booklet-02-wcar-en.pdf" target="_blank">Download &#187;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="clear push20"></div>
                      <!-- Download PDF column 2  -->
                      <div class="col-6 col-xs-6">
                        <div class="col-4 col-xs-4">
                          <a href="http://www.cbd.int/marine/ebsa/booklet-01-wsp-en.pdf" target="_blank">
                            <img src="http://www.cbd.int/marine/ebsa/booklet-01-wsp-en-cover.jpg?width=120" alt="Ecologically or Biologically Significant Marine Areas (EBSAs) - Western South Pacific" />
                          </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                          <h3>Ecologically or Biologically Significant Marine Areas (EBSAs) - Western South Pacific</h3>
                          <div class="col-2 col-xs-2 nopadding">
                            <div class="push20"></div>
                            <img src="img/download-icon.png" alt="Download icon" />
                          </div>
                          <div class="col-10 col-xs-10">
                            <div class="push20"></div>
                            <div class="button">
                              <div class="link">
                                <a title="Download PDF" href="http://www.cbd.int/marine/ebsa/booklet-01-wsp-en.pdf" target="_blank">Download &#187;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6 col-xs-6">
                        <div class="col-4 col-xs-4">
                          <a href="http://www.cbd.int/marine/doc/ebsa-brochure-2012-en.pdf" target="_blank">
                            <img src="img/brochure-ebsas.jpg" alt="Brochure for the Ecologically and Biologically Significant Marine Areas" />
                          </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                          <h3>Ecologically and Biologically Significant Marine Areas (EBSAs)</h3>
                          <div class="col-2 col-xs-2 nopadding">
                            <div class="push20"></div>
                            <img src="img/download-icon.png" alt="Download icon" />
                          </div>
                          <div class="col-10 col-xs-10">
                            <div class="push20"></div>
                            <div class="button">
                              <div class="link">
                                <a title="Download PDF" href="http://www.cbd.int/marine/doc/ebsa-brochure-2012-en.pdf" target="_blank">Download &#187;</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="clear push20"></div>
                      <!-- Download PDF column 3  -->
                      <div class="col-6 col-xs-6">
                        <div class="col-4 col-xs-4">
                          <a href="http://www.cbd.int/marine/doc/azores-brochure-en.pdf" target="_blank">
                            <img src="img/brochures-scientific.jpg" alt="Brochure for the Scientific Criteria and Guidance" />                </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                            <h3>Scientific Criteria and Guidance for Identifying EBSAs and Designing Representative Networks of Marine Protected Areas in Open Ocean Waters and Deep Sea Habitats</h3>
                            <div class="push20"></div>
                            <div class="col-2 col-xs-2 nopadding">
                              <img src="img/download-icon.png" alt="Download icon" />
                            </div>
                            <div class="col-10 col-xs-10">
                              <div class="button">
                                <div class="link">
                                  <a title="Download PDF" href="http://www.cbd.int/marine/doc/azores-brochure-en.pdf" target="_blank">Download &#187;</a>
                                </div>
                              </div>
                            </div>
                        </div>
                          <div class="clear push20"></div>
                      </div>
                    </div>


                      <!-- Training Materials / Guidance in Applying EBSA Criteria -->
                      <div id="training-materials" class="col-9 col-xs-9 tab-pane">
                        <!-- ARTICLE  -->
                        <div class="col-10 col-xs-10">
                          <div class="article">
                            <h2>Training Materials / Guidance in Applying EBSA Criteria</h2>

                            <div class="push20"></div>

                            <p>In decision X/29 (adopted in Nagoya, Japan, in 2010), the Conference of the Parties (COP) to the Convention on Biological Diversity (CBD) requested the Executive Secretary to prepare, in collaboration with the relevant international organizations, a training manual and modules which can be used to meet the capacity-building needs for identifying ecologically or biologically significant marine areas.</p>

                            <h4>Training Materials</h4>

                            <p>Pursuant to decision X/29, draft EBSA training manual and modules, was developed, with the kind financial support from the Government of Germany, to facilitate the capacity development with regard to the scientific description of areas meeting EBSAs criteria.</p>

                            <div class="push20 clear"></div>

                            <div class="col-3 col-xs-3 list-themes">
                              <a href="http://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-09-en.pdf" target="_blank" alt="The training manual">
                                <img src="img/resources-trainingmanual.jpg" alt="The training manual" />
                              </a>
                            </div>
                            <div class="col-8 col-xs-8 article">
                              <h3>The training manual</h3>
                              <p>provides an introduction to the CBD EBSA criteria, as well as practical guidance on how to identify areas based on each individual EBSA criterion. In addition, the module discusses how to describe areas based on multiple EBSA criteria.</p>
                              <div class="push20"></div>
                              <div class="col-2 col-xs-2 nopadding">
                                <img src="img/download-icon.png" alt="Download icon" />
                              </div>
                              <div class="col-10 col-xs-10">
                                <div class="button">
                                  <div class="link">
                                    <a title="Download PDF" href="http://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-09-en.pdf" target="_blank">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="push20 clear"></div>

                            <h4>Guidance on the Use of Biogeographic Classification Systems</h4>

                            <p>In 2009, the Executive Secretary organized, with financial support from the Governments of Canada and Germany, an Expert Workshop on Scientific and Technical Guidance on the Use of Biogeographic Classification Systems and Identification of Marine Areas beyond National Jurisdiction in Need of Protection.</p>

                            <div class="push20"></div>

                            <div class="col-3 col-xs-3 list-themes">
                              <a href="http://www.cbd.int/doc/?meeting=EWBCSIMA-01" target="_blank" alt="The workshop report">
                                <img src="img/workshop-report.jpg" alt="The workshop report" />
                              </a>
                            </div>
                            <div class="col-8 col-xs-8 article">
                              <h3>The workshop report</h3>
                              <p>provides guidance and information relevant to the use of EBSA criteria and potential subsequent policy action related to identified EBSAs.</p>
                              <div class="push20"></div>
                              <div class="col-2 col-xs-2 nopadding">
                                <img src="img/download-icon.png" alt="Download icon" />
                              </div>
                              <div class="col-10 col-xs-10">
                                <div class="button">
                                  <div class="link">
                                    <a title="Download PDF" href="http://www.cbd.int/doc/?meeting=EWBCSIMA-01" target="_blank">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <!-- Integrating Traditional Knowledge and Socio-Cultural Information in Applying EBSA Criteria -->
                      <div id="integrating-traditional" class="col-9 col-xs-9 tab-pane">
                        <!-- ARTICLE  -->
                        <div class="col-10 col-xs-10">
                          <div class="article">
                            <h2>Integrating Traditional Knowledge and Socio-Cultural Information in Applying EBSA Criteria</h2>

                            <div class="push15"></div>

                            <div class="pull-right marginleft">
                              <img src="img/resources-4.jpg" alt="Integrating Traditional Knowledge and Socio-Cultural Information in Applying EBSA Criteria" />
                              <div class="push5"></div>
                            </div>

                            <p>As outlined in COP decisions X/29 and XI/17, the identification of EBSAs should rely on the best available scientific and technical information and, as appropriate, integrate the traditional scientific, technical, and technological knowledge of indigenous and local communities.</p>

                            <p>In response to a call from decision X/29, a report on <span class="emphase">Identifying Specific Elements for Integrating the Traditional, Scientific, Technical and Technological Knowledge of Indigenous and Local Communities, and Social and Cultural Criteria and Other Aspects for the Application of Scientific Criteria for Identification of Ecologically or Biologically Significant Areas (EBSAS) As Well As the Establishment And Management of Marine Protected Areas</span> (UNEP/CBD/SBSTTA/16/INF/10) was produced and made available to the 16th meeting of SBSTTA</p>

                            <div class="push20 clear"></div>

                            <div class="col-3 col-xs-3 list-themes">
                              <a href="http://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-10-en.pdf" target="_blank" alt="The training manual">
                                <img src="img/indentifying-report.jpg" alt="Identifying Specific Elements for Integrating the Traditional, Scientific, Technical and Technological Knowledge of Indigenous and Local Communities, and Social and Cultural Criteria and Other Aspects for the Application of Scientific Criteria for Identification of Ecologically or Biologically Significant Areas (EBSAS) As Well As the Establishment And Management of Marine Protected Areas" />
                              </a>
                            </div>
                            <div class="col-6 col-xs-6 article">
                              <div class="push5"></div>
                              <h3>Identifying Specific Elements for Integrating the Traditional, Scientific, Technical and Technological Knowledge of Indigenous and Local Communities, and Social and Cultural Criteria and Other Aspects for the Application of Scientific Criteria for Identification of Ecologically or Biologically Significant Areas (EBSAS) As Well As the Establishment And Management of Marine Protected Areas</h3>
                              <div class="push15"></div>
                              <div class="col-2 col-xs-2 nopadding">
                                <img src="img/download-icon.png" alt="Download icon" />
                              </div>
                              <div class="col-10 col-xs-10">
                                <div class="button">
                                  <div class="link">
                                    <a title="Download PDF" href="http://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-10-en.pdf" target="_blank">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="push20 clear"></div>

                            <p>In decision XI/17, the COP invited Parties, other Governments, competent intergovernmental organizations, and relevant indigenous and local communities to consider the use of the guidance on integration of traditional knowledge outlined in the report, with the approval and involvement of the holders of such knowledge, where applicable, in any future description of areas that meet the criteria for EBSAs and for the development of conservation and management measures, and report on progress in this regard to the twelfth meeting of the Conference of the Parties to the Convention (paragraph 24).</p>

                          </div>
                        </div>
                      </div>



                      <!-- Training Materials -->
                      <!-- <div id="guidance-criteria" class="col-9 col-xs-9 tab-pane"></div> -->

                      <!-- Relevant Publications -->
                      <!-- <div id="relevant-publications" class="col-9 col-xs-9 tab-pane"></div> -->

                    </div>
                  </div>
                </div>
              </div><!--/row-->
            </div>
