<div class="container" ng-controller="ResourcesCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-3 col-xs-3">

          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>Resources</h4>

            <ul class="nav nav-tabs" showtab>
              <li class="active"><a href="#criteria" data-toggle="tab">EBSA Criteria</a></li>
              <li><a href="#workshop-reports" data-toggle="tab">Workshop Reports</a></li>
              <li><a href="#other-meeting-reports" data-toggle="tab">Other Meeting Reports</a></li>
              <li><a href="#brochures" data-toggle="tab">Brochures</a></li>
              <li><a href="#guidance-criteria" data-toggle="tab">Guidance in Applying EBSA Criteria</a></li>
              <!-- <li><a href="#training-materials" data-toggle="tab">Training Materials</a></li> -->
              <!-- <li><a href="#relevant-publications" data-toggle="tab">Relevant Publications</a></li> -->
            </ul>
            <ul class="other-criteria">
              <li class="sub-tabs">OTHER RELEVANT CRITERIA
                <ul>
                  <li>
                    <a href="http://www.fao.org/fishery/topic/166303/en" target="_blank">Food and Agriculture Organization of the UN—Conservation and Protection of Vulnerable Marine Ecosystems (VMEs)</a>
                  </li>
                  <li>
                    <a href="http://www.imo.org/OurWork/Environment/PollutionPrevention/PSSAs/Pages/Default.aspx" target="_blank">International Maritime Organization—Particularly Sensitive Sea Areas (PSSAs)</a>
                  </li>
                </ul>
              </li>
            </ul>

          </div>

        </div>
        <div class="tab-content">

          <!--  Criteria  -->
          <div id="criteria" class="col-9 col-xs-9 tab-pane active">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-xs-4">
              <h2>EBSA Criteria</h2>
              <img src="/app/img/resources-1.jpg" alt="Criteria">
            </div>
            <!-- ARTICLE  -->
            <div class="col-8 col-xs-8">
              <div class="article">
                <p>In 2008, the ninth meeting of the Conference of the Parties to the Convention on Biological Diversity (COP 9) adopted the following scientific criteria for identifying ecologically or biologically significant marine areas in need of protection in open-ocean waters and deep-sea habitats.</p>
                <h4>CBD scientific criteria for ecologically or biologically significant areas (EBSAs) (annex I, decision IX/20)</h4>
                <p>
                  <ol>
                    <li>Uniqueness or Rarity</li>
                    <li>Special importance for life history stages of species</li>
                    <li>Importance for threatened, endangered or declining species and/or habitats</li>
                    <li>Vulnerability, Fragility, Sensitivity, or Slow recovery</li>
                    <li>Biological Productivity</li>
                    <li>Biological Diversity</li>
                    <li>Naturalness</li>
                  </ol>
                </p>
                <p>For more details on the EBSA criteria, please see: <a href="https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/
                  ebsaws-2014-01-azores-brochure-en.pdf">https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/
                  ebsaws-2014-01-azores-brochure-en.pdf</a>
                </p>
              </div>
            </div>
          </div>

          <!-- Workshop Reports -->
          <div id="workshop-reports" class="col-9 col-xs-9 tab-pane">

            <!-- TITLE ARTICLE  -->
            <div class="col-10 col-xs-10">
              <h2>Workshop reports</h2>
            </div>

            <div class="clear push20"></div>

            <div class="col-6 col-xs-6">
              <div class="col-4 col-xs-4">
                <a href="#" alt="Western South Pacific Regional">
                  <img src="/app/img/reports-westernsouthpacific.jpg" alt="Western South Pacific Regional" />
                </a>
              </div>
              <div class="col-8 col-xs-8 article">
                <h3>Western South Pacific Regional Workshop to Facilitate the Description of EBSAs</h3>
                <p class="blue4">(Nadji, Fiji, from 22 to 25 November 2011)</p>
                <div class="col-2 col-xs-2 nopadding">
                  <img src="/app/img/download-icon.png" alt="Download icon" />
                </div>
                <div class="col-10 col-xs-10">
                  <div class="button">
                    <div class="link">
                      <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/rwebsa-wspac-01/official/rwebsa-wspac-01-sbstta-16-inf-06-en.pdf" target="_blank">Download &#187;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-xs-6">
              <div class="col-4 col-xs-4">
                <a href="#" alt="Wider Caribbean and Western Mid-Atlantic Regional">
                  <img src="/app/img/reports-widercaribbean.jpg" alt="Wider Caribbean and Western Mid-Atlantic Regional" />                </a>
                </div>
                <div class="col-8 col-xs-8 article">
                  <h3>Wider Caribbean and Western Mid-Atlantic Regional Workshop to Facilitate the Description of EBSAs</h3>
                  <p class="blue4">(Recife, Brazil, from 28 February to 2 March 2011)</p>
                  <div class="col-2 col-xs-2 nopadding">
                    <img src="/app/img/download-icon.png" alt="Downlaod icon" />
                  </div>
                  <div class="col-10 col-xs-10">
                    <div class="button">
                      <div class="link">
                        <a title="Download PDF" target="_blank" href="http://www.cbd.int/doc/meetings/mar/rwebsa-wcar-01/official/rwebsa-wcar-01-sbstta-16-inf-07-en.pdf">Download &#187;</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clear push15"></div><div class="push15"></div>

              <div class="col-6 col-xs-6">
                <div class="col-4 col-xs-4">
                  <a href="#" alt="Eastern Tropical and Temperate Pacific">
                    <img src="/app/img/reports-easterntropical.jpg" alt="Eastern Tropical and Temperate Pacific" />                      </a>
                  </div>
                  <div class="col-8 col-xs-8 article">
                    <h3>Eastern Tropical and Temperate Pacific Regional Workshop to Facilitate the Description of EBSAs</h3>
                    <p class="blue4">(Galápagos Islands, Ecuador, from 27 to 31 August 2012)</p>
                    <div class="col-2 col-xs-2 nopadding">
                      <img src="/app/img/download-icon.png" alt="Download icon" />
                    </div>
                    <div class="col-10 col-xs-10">
                      <div class="button">
                        <div class="link">
                          <a title="Downlad PDF" href="http://www.cbd.int/doc/meetings/mar/ebsa-ettp-01/official/ebsa-ettp-01-04-en.pdf" target="_blank">Download &#187;</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-xs-6">
                  <div class="col-4 col-xs-4">
                    <a href="#" alt="Southern Indian Ocean Regional">
                      <img src="/app/img/reports-southindian.jpg" alt="Southern Indian Ocean Regional" />                             </a>
                    </div>
                    <div class="col-8 col-xs-8 article">
                      <h3>Southern Indian Ocean Regional Workshop to Facilitate the Description of EBSAs</h3>
                      <p class="blue4">(Flic en Flac, Mauritius, from 30 July to 3 August 2012)</p>
                      <div class="col-2 col-xs-2 nopadding">
                        <img src="/app/img/download-icon.png" alt="download icon" />
                      </div>
                      <div class="col-10 col-xs-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/doc/meetings/mar/ebsa-sio-01/official/ebsa-sio-01-04-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clear push15"></div><div class="push15"></div>

                  <div class="col-6 col-xs-6">
                    <div class="col-4 col-xs-4">
                      <img src="/app/img/forthcoming.png" alt="North Pacific Regional Workshop to Facilitate the Description of EBSAs" />          </div>
                      <div class="col-8 col-xs-8 article">
                        <h3>North Pacific Regional Workshop to Facilitate the Description of EBSAs</h3>
                        <p class="blue4">(Moscow, Russian Federation, from 25 February to 1 March 2013) (forthcoming)</p>
                      </div>
                    </div>
                    <div class="col-6 col-xs-6">
                      <div class="col-4 col-xs-4">
                        <img src="/app/img/forthcoming.png" alt="South-Eastern Atlantic Regional Workshop to Facilitate the Description of EBSAs" />
                      </div>
                      <div class="col-8 col-xs-8 article">
                        <h3>South-Eastern Atlantic Regional Workshop to Facilitate the Description of EBSAs</h3>
                        <p class="blue4">(Swakopmund, Namibia, from 8 to 12 April 2013) (forthcoming)</p>
                      </div>
                    </div>

                    <div class="clear push15"></div><div class="push15"></div>

                    <div class="col-6 col-xs-6">
                      <div class="col-4 col-xs-4">
                        <img src="/app/img/forthcoming.png" alt="Mediterranean Regional Workshop to Facilitate the Description of EBSAs" />
                      </div>
                      <div class="col-8 col-xs-8 article">
                        <h3>Mediterranean Regional Workshop to Facilitate the Description of EBSAs</h3>
                        <p class="blue4">(Málaga, Spain, from 7 to 11 April 2014) (forthcoming)</p>
                      </div>
                    </div>
                    <div class="col-6 col-xs-6">
                      <div class="col-4 col-xs-4">
                        <img src="/app/img/forthcoming.png" alt="North-West Atlantic Regional Workshop to Facilitate the Description of EBSAs" />
                      </div>
                      <div class="col-8 col-xs-8 article">
                        <h3>North-West Atlantic Regional Workshop to Facilitate the Description of EBSAs</h3>
                        <p class="blue4">(Montreal, Canada, from 24 to 28 March 2014) (forthcoming)</p>
                      </div>
                    </div>

                    <div class="clear push15"></div><div class="push15"></div>

                    <div class="col-6 col-xs-6">
                      <div class="col-4 col-xs-4">
                        <img src="/app/img/forthcoming.png" alt="Arctic Regional Workshop to Facilitate the Description of EBSAs" />
                      </div>
                      <div class="col-8 col-xs-8 article">
                        <h3>Arctic Regional Workshop to Facilitate the Description of EBSAs</h3>
                        <p class="blue4">(Helsinki, Finland, from 3 to 7 March 2014) (forthcoming)</p>
                      </div>
                    </div>


                  </div>

                  <!--  Other meeting reports -->
                  <div id="other-meeting-reports" class="col-9 col-xs-9 tab-pane">
                    <!-- TITLE  -->
                    <div class="col-10 col-xs-10">
                      <h2>Other meeting reports</h2>
                    </div>
                    <div class="clear push20"></div>

                    <!-- Download PDF column 1  -->
                    <div class="col-6 col-xs-6">
                      <div class="col-4 col-xs-4">
                        <a href="#" alt="Expert Workshop on Ecological Criteria">
                          <img src="/app/img/meeting-biological.jpg" alt="Expert Workshop on Ecological Criteria" />                      </a>
                        </div>
                        <div class="col-8 col-xs-8 article">
                          <h3>Expert Workshop on Ecological Criteria and Biogeographic Classification Systems for Marine Areas in Need of Protection</h3>
                          <p class="blue4">(Azores, Portugal, from 2 to 4 October 2007)</p>
                          <div class="col-2 col-xs-2 nopadding">
                            <img src="/app/img/download-icon.png" alt="Download icon" />
                          </div>
                          <div class="col-10 col-xs-10">
                            <div class="button">
                              <div class="link">
                                <a title="Download PD" href="http://www.cbd.int/doc/?meeting=EWSEBM-01" target="_blank">Download &#187;</a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!-- Download PDF column 2  -->
                      <div class="col-6 col-xs-6">
                        <div class="col-4 col-xs-4">
                          <a href="#" alt="Expert Workshop on Scientific and Technical Guidance">
                            <img src="/app/img/meeting-scientific.jpg" alt="Expert Workshop on Scientific and Technical Guidance" />                </a>
                          </div>
                          <div class="col-8 col-xs-8 article">
                            <h3>Expert Workshop on Scientific and Technical Guidance on the use of Biogeographic Classification Systems and Identification of Marine Areas beyond national jurisdiction in need of protection</h3>
                            <p class="blue4">(Ottawa, Canada, from 29 September to 2 October 2009)</p>
                            <div class="col-2 col-xs-2 nopadding">
                              <img src="/app/img/download-icon.png" alt="Download icon" />
                            </div>
                            <div class="col-10 col-xs-10">
                              <div class="button">
                                <div class="link">
                                  <a title="Download PDF" href="http://www.cbd.int/doc/?meeting=EWBCSIMA-01" target="_blank">Download &#187;</a>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="clear push20"></div>
                        </div>
                      </div>

                      <!--  Brochures -->
                      <div id="brochures" class="col-9 col-xs-9 tab-pane">
                        <!-- TITLE ARTICLE  -->
                        <div class="col-10 col-xs-10">
                          <h2>Brochures</h2>
                        </div>

                        <div class="clear push20"></div>

                        <!-- Download PDF column 1  -->
                        <div class="col-6 col-xs-6">
                          <div class="col-4 col-xs-4">
                            <a href="#" alt="Brochure for the Ecologically and Biologically Significant Marine Areas">
                              <img src="/app/img/brochure-ebsas.jpg" alt="Brochure for the Ecologically and Biologically Significant Marine Areas" />
                            </a>
                          </div>
                          <div class="col-8 col-xs-8 article">
                            <h3>Brochure for the Ecologically and Biologically Significant Marine Areas (EBSAs)</h3>
                            <div class="col-2 col-xs-2 nopadding">
                              <div class="push20"></div>
                              <img src="/app/img/download-icon.png" alt="Download icon" />
                            </div>
                            <div class="col-10 col-xs-10">
                              <div class="push20"></div>
                              <div class="button">
                                <div class="link">
                                  <a title="Download PDF" href="http://www.cbd.int/marine/doc/ebsa-brochure-2012-en.pdf" target="_blank">Download &#187;</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Download PDF column 2  -->
                        <div class="col-6 col-xs-6">
                          <div class="col-4 col-xs-4">
                            <a href="#" alt="Brochure for the Scientific Criteria and Guidance">
                              <img src="/app/img/brochures-scientific.jpg" alt="Brochure for the Scientific Criteria and Guidance" />                </a>
                            </div>
                            <div class="col-8 col-xs-8 article">
                              <h3>Brochure for the Scientific Criteria and Guidance for Identifying EBSAs and Designing Representative Networks of Marine Protected Areas in Open Ocean Waters and Deep Sea Habitats</h3>
                              <div class="push20"></div>
                              <div class="col-2 col-xs-2 nopadding">
                                <img src="/app/img/download-icon.png" alt="Download icon" />
                              </div>
                              <div class="col-10 col-xs-10">
                                <div class="button">
                                  <div class="link">
                                    <a title="Download PDF" href="http://www.cbd.int/marine/doc/azores-brochure-en.pdf" target="_blank">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="clear push20"></div>
                          </div>
                        </div>

                        <!-- Training Materials -->
                        <div id="guidance-criteria" class="col-9 col-xs-9 tab-pane">
                          <!-- TITLE ARTICLE  -->
                          <div class="col-4 col-xs-4">
                            <h2>Guidance in Applying EBSA Criteria</h2>
                            <img src="/app/img/resources-5.jpg" alt="Training Materials">
                            <div class="push20"></div>
                            <!-- <p>Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p> -->
                          </div>

                          <!-- ARTICLE  -->
                          <div class="col-8 col-xs-8">
                            <div class="article">

                              <p>In decision X/29 (adopted in Nagoya, Japan, in 2010), the Conference of the Parties (COP) to the Convention on Biological Diversity (CBD) requested the Executive Secretary to prepare, in collaboration with the relevant international organizations, a training manual and modules which can be used to meet the capacity-building needs for identifying ecologically or biologically significant marine areas.</p>

                              <h4>Training Materials</h4>

                              <p>Pursuant to decision X/29, draft EBSA training manual and modules, was developed, with the kind financial support from the Government of Germany, to facilitate the capacity development with regard to the scientific description of areas meeting EBSAs criteria.</p>

                              <div class="push20 clear"></div>

                              <div class="col-3 col-xs-3 list-themes">
                                <a href="http://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-09-en.pdf" alt="The training manual">
                                  <img src="/app/img/resources-trainingmanual.jpg" alt="The training manual" />
                                </a>
                              </div>
                              <div class="col-8 col-xs-8 article">
                                <h3>The training manual</h3>
                                <p>provides an introduction to the CBD EBSA criteria, as well as practical guidance on how to identify areas based on each individual EBSA criterion. In addition, the module discusses how to describe areas based on multiple EBSA criteria.</p>
                                <div class="push20"></div>
                                <div class="col-2 col-xs-2 nopadding">
                                  <img src="/app/img/download-icon.png" alt="Download icon" />
                                </div>
                                <div class="col-10 col-xs-10">
                                  <div class="button">
                                    <div class="link">
                                      <a title="Download PDF" href="http://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-09-en.pdf" target="_blank">Download &#187;</a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="push20 clear"></div>

                              <h4>Guidance on the Use of Biogeographic Classification Systems</h4>

                              <p>In 2009, the Executive Secretary organized, with financial support from the Governments of Canada and Germany, an Expert Workshop on Scientific and Technical Guidance on the Use of Biogeographic Classification Systems and Identification of Marine Areas beyond National Jurisdiction in Need of Protection. The workshop report (available at: http://www.cbd.int/doc/?meeting=EWBCSIMA-01), provides guidance and information relevant to the use of EBSA criteria and potential subsequent policy action related to identified EBSAs.</p>



                              <!-- <div class="col-xs-4">
                                <img src="/app/img/trainings-1.jpg" alt="Training number 1" />
                                <h4>Post-ironic PBR pug kale chips fap</h4>
                                <p>Chillwave retro Brooklyn enim Tumblr, voluptate drinking vinegar fanny pack 90's disrupt Schlitz assumenda pour-over sunt hashtag. McSweeney's qui occaecat Odd Future Etsy. Minim dreamcatcher accusa- mus Helvetica, banjo locavore raw denim whatever esse twee readymade.</p>
                                <div class="push20"></div>
                                <div class="button">
                                  <div class="link">
                                    <a href="#">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <img src="/app/img/trainings-2.jpg" alt="Training number 2" />
                                <h4>Post-ironic PBR pug kale chips fap</h4>
                                <p>Chillwave retro Brooklyn enim Tumblr, voluptate drinking vinegar fanny pack 90's disrupt Schlitz assumenda pour-over sunt hashtag. McSweeney's qui occaecat Odd Future Etsy. Minim dreamcatcher accusa- mus Helvetica, banjo locavore raw denim whatever esse twee readymade.</p>
                                <div class="push20"></div>
                                <div class="button">
                                  <div class="link">
                                    <a href="#">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-4">
                                <img src="/app/img/trainings-3.jpg" alt="Training number 3" />
                                <h4>Post-ironic PBR pug kale chips fap</h4>
                                <p>Chillwave retro Brooklyn enim Tumblr, voluptate drinking vinegar fanny pack 90's disrupt Schlitz assumenda pour-over sunt hashtag. McSweeney's qui occaecat Odd Future Etsy. Minim dreamcatcher accusa- mus Helvetica, banjo locavore raw denim whatever esse twee readymade.</p>
                                <div class="push20"></div>
                                <div class="button">
                                  <div class="link">
                                    <a href="#">Download &#187;</a>
                                  </div>
                                </div>
                              </div>
                            -->

                          </div>
                        </div>
                      </div>

                      <!-- Relevant Publications -->
                      <div id="relevant-publications" class="col-9 col-xs-9 tab-pane">
                        <!-- TITLE ARTICLE  -->
                        <div class="col-4 col-xs-4">
                          <h2>Relevant publications</h2>
                          <img src="/app/img/resources-6.jpg" alt="Relevant Publications">
                          <div class="push20"></div>
                          <p>Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p>
                        </div>

                        <!-- ARTICLE  -->
                        <div class="col-8 col-xs-8">
                          <div class="article">
                            <h4>Biodiesel commodo gentrify, chillwave</h4>

                            <p> Placeat hella Neutra, et officia assumenda pickled hashtag. Cillum cupidatat odio Intelligentsia. Distillery nihil assumenda readymade, Pinterest incididunt adipisicing cillum kogi roof party tote bag aliqua actually eu cupidatat. Cardigan banjo et, chia enim Williamsburg cupidatat. Esse aliqua non meggings pour-over fanny pack. Chia eu tote bag, Odd Future Pinterest farm-to-table gentrify trust fund minim viral sartorial do jean shorts. Biodiesel commodo gentrify, chillwave viral bespoke anim PBR&B put a bird on it kogi organic meggings vegan dolore irony.</p>

                            <h4>Truffaut nostrud master cleanse flexitarian non placeat</h4>

                            <p>Sint vinyl before they sold out assumenda locavore mixtape, magna veniam ad ugh ullamco. Lomo Brooklyn ethnic salvia, ugh odio cliche Tonx Pinterest seitan Echo Park. Organic Helvetica adipisicing, wolf id paleo try-hard gastropub fugiat. Bitters pork belly commodo, Truffaut esse put a bird on it cred Tonx keffiyeh veniam. Wayfarers do id letterpress, roof party gentrify deserunt you probably haven't heard of them. Selfies flannel stumptown gentrify laboris, cillum ad fingerstache next level typewriter vero tempor kogi. Cardigan next level four loko quis biodiesel kale chips, Carles hashtag consequat ullamco narwhal Godard minim VHS twee.</p>

                            <p>Assumenda ex minim, meggings adipisicing XOXO ea veniam farm-to-table vegan hella try-hard quis gentrify single-origin coffee. Actually deep v anim authentic, trust fund est 3 wolf moon freegan try-hard Thundercats semiotics mumblecore next level Schlitz. Cillum plaid ex, Truffaut nostrud master cleanse flexitarian non placeat authentic consequat butcher deserunt cornhole irony. Tumblr fashion axe Truffaut PBR 8-bit, craft beer qui XOXO disrupt bicycle rights VHS nostrud 90's. Ugh veniam gastropub, DIY voluptate cray PBR&B skateboard church-key bitters shabby chic Vice synth chia. Kogi brunch sint narwhal voluptate magna. Schlitz voluptate tattooed ex Wes Anderson.</p>

                            <h4>Pinterest eiusmod mixtape biodiesel pop-up</h4>

                            <p>TCillum kogi authentic narwhal aliqua. Normcore blog irony readymade, cred adipisicing selfies. Mumblecore Echo Park accusamus tousled, est Vice twee flannel master cleanse retro four loko. Nihil post-ironic laborum you probably haven't heard of them drinking vinegar. Occaecat labore Odd Future McSweeney's, eiusmod ea pop-up single-origin coffee mlkshk in ad beard Tonx ullamco. Gentrify salvia gastropub, ut pickled Odd Future Blue Bottle swag. Banksy excepteur enim meh, cred qui High Life dolor retro cardigan organic.</p>

                            <p>Excepteur magna VHS, whatever consequat wayfarers pariatur twee hoodie Neutra YOLO locavore craft beer keffiyeh. Four loko bicycle rights literally, sartorial VHS post-ironic YOLO forage voluptate est Cosby sweater. Try-hard normcore pork belly consequat freegan laboris, chillwave id dolore Pinterest eiusmod mixtape biodiesel pop-up. Small batch flannel shabby chic pariatur fixie. Next level Williamsburg locavore, raw denim leggings Cosby sweater chambray bitters Portland ut photo booth chia sriracha qui sustainable. Sed polaroid disrupt, Neutra deep v Vice fixie. Food truck Thundercats before they sold out DIY qui quinoa.</p>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div><!--/row--></div>

