<div class="container" ng-controller="ResourcesCtrl">
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-lg-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-3 col-lg-3">

          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>Resources</h4>

            <ul class="nav nav-tabs">
              <li class="active"><a href="#criteria" data-toggle="tab">Criteria</a></li>
              <li><a href="#workshop-reports" data-toggle="tab">Workshop reports</a></li>
              <li><a href="#other-meeting-reports" data-toggle="tab">Other meeting reports</a></li>
              <li><a href="#brochures" data-toggle="tab">Brochures</a></li>
              <li><a href="#training-materials" data-toggle="tab">Training materials</a></li>
              <li><a href="#relevant-publications" data-toggle="tab">Relevant publications</a></li>
            </ul>
            <ul class="other-criteria">
              <li class="sub-tabs">OTHER RELEVANT CRITERIA
                <ul>
                  <li><a href="http://www.fao.org/fishery/topic/166303/en" target="_blank">Food and Agriculture Organization (FAO) of the UN Vulnerable Marine Ecosystems</a></li>
                  <li><a href="http://www.imo.org/OurWork/Environment/PollutionPrevention/PSSAs/Pages/Default.aspx" target="_blank">International Maritime Organization Particularly Sensitive Sea Areas</a></li>
                </ul>
              </li>
            </ul>

          </div>

        </div>
        <div class="tab-content">

          <!--  Criteria  -->
          <div id="criteria" class="col-9 col-lg-9 tab-pane active">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4">
              <h2>Criteria</h2>
              <img src="/app/img/resources-1.jpg" alt="Criteria">
              <div class="push20"></div>
              <p>hundercats ad Etsy bitters readymade American Apparel fashion axe Wes Anderson. Accusamus blog enim cillum cred. Beard lomo culpa, bespoke aliqua eiusmod keytar yr elit. Direct trade bicycle rights sed, photo booth freegan raw denim YOLO Wes Anderson VHS. Art party freegan placeat, readymade sed YOLO eiusmod you probably haven't heard of them beard farm-to-table nisi cliche slow-carb meh. Kogi dolore leggings butcher. Wayfarers you probably haven't heard of them disrupt pop-up quinoa Tonx.</p>
            </div>
            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8">
              <div class="article">
                <h4>Portland Wes Anderson odio cupidatat non try-hard</h4>
                <p>Tofu magna single-origin coffee anim. Aute wolf distillery eu, cillum Blue Bottle labore laboris polaroid. Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p>

                <h4>Wes Anderson sapiente proident laboris master cleanse Carles</h4>
                <p>Literally cardigan placeat 8-bit, keytar cliche art party 3 wolf moon pug butcher. Photo booth aute ethical fashion axe try-hard magna. Anim wayfarers try-hard Banksy chia occupy. Consectetur wolf occupy, forage mlkshk direct trade consequat pariatur sed Shoreditch enim McSweeney's aliqua. Narwhal hashtag minim hella church-key Helvetica typewriter et mumblecore, organic scenester vinyl ethical. Deep v deserunt Blue Bottle, twee +1 qui labore you probably haven't heard of them keffiyeh brunch nisi.</p>

                <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skateboard flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk. Flexitarian Schlitz viral ethnic keffiyeh Odd Future eu mixtape. +1 ea enim Marfa quis occupy, asymmetrical aesthetic occaecat High Life YOLO. Distillery Brooklyn voluptate Wes Anderson, nostrud Thundercats Williams- burg letterpress Intelligentsia four loko scenester sriracha Schlitz duis Tonx.</p>

                <h4>Freegan dreamcatcher hoodie small batch ugh aesthetic</h4>

                <p>Thundercats ad Etsy bitters readymade American Apparel fashion axe Wes Anderson. Accusamus blog enim cillum cred. Beard lomo culpa, bespoke aliqua eiusmod keytar yr elit. Direct trade bicycle rights sed, photo booth freegan raw denim YOLO Wes Anderson VHS. Art party freegan placeat, readymade sed YOLO eiusmod you probably haven't heard of them beard farm-to-table nisi cliche slow-carb meh. Kogi dolore leggings butcher. Wayfarers you probably haven't heard of them disrupt pop-up quinoa Tonx.</p>
              </div>
            </div>
          </div>

          <!-- Workshop Reports -->
          <div id="workshop-reports" class="col-9 col-lg-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="col-10 col-lg-9">
              <h2>Workshop reports</h2>
            </div>

            <div class="clear push20"></div>

            <div class="col-6 col-lg-6" ng-repeat="report in reports">
              <div class="col-4 col-lg-4">
                <a href="#" alt="Western South Pacific Regional">
                  <img src="{{report.imgUrl}}" alt="Western South Pacific Regional" />
                </a>
              </div>
              <div class="col-8 col-lg-8 article">
                <h3>{{report.title}}</h3>
                <p class="blue4">{{report.dates}}</p>
                <div class="col-2 col-lg-2 nopadding">
                  <img src="/app/img/download-icon.png" alt="Download icon" />
                </div>
                <div class="col-10 col-lg-10">
                  <div class="button">
                    <div class="link">
                      <a title="Download PDF" href="{{report.url}}" target="_blank">Download &#187;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="clear push15"></div><div class="push15"></div>

          </div>

          <!--  Other meeting reports -->
          <div id="other-meeting-reports" class="col-9 col-lg-9 tab-pane">
            <!-- TITLE  -->
            <div class="col-10 col-lg-9">
              <h2>Other meeting reports</h2>
            </div>
            <div class="clear push20"></div>

            <!-- Download PDF column 1  -->
            <div class="col-6 col-lg-6">
              <div class="col-4 col-lg-4">
                <a href="#" alt="Expert Workshop on Ecological Criteria">
                  <img src="/app/img/meeting-biological.jpg" alt="Expert Workshop on Ecological Criteria" />                      </a>
                </div>
                <div class="col-8 col-lg-8 article">
                  <h3>Expert Workshop on Ecological Criteria and Biogeographic Classification Systems for Marine Areas in Need of Protection</h3>
                  <p class="blue4">(Azores, Portugal, from 2 to 4 October 2007)</p>
                  <div class="col-2 col-lg-2 nopadding">
                    <img src="/app/img/download-icon.png" alt="Download icon" />
                  </div>
                  <div class="col-10 col-lg-10">
                    <div class="button">
                      <div class="link">
                        <a title="Download PD" href="http://www.cbd.int/doc/?meeting=EWSEBM-01" target="_blank">Download &#187;</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Download PDF column 2  -->
              <div class="col-6 col-lg-6">
                <div class="col-4 col-lg-4">
                  <a href="#" alt="Expert Workshop on Scientific and Technical Guidance">
                    <img src="/app/img/meeting-scientific.jpg" alt="Expert Workshop on Scientific and Technical Guidance" />                </a>
                  </div>
                  <div class="col-8 col-lg-8 article">
                    <h3>Expert Workshop on Scientific and Technical Guidance on the use of Biogeographic Classification Systems and Identification of Marine Areas beyond national jurisdiction in need of protection</h3>
                    <p class="blue4">(Ottawa, Canada, from 29 September to 2 October 2009)</p>
                    <div class="col-2 col-lg-2 nopadding">
                      <img src="/app/img/download-icon.png" alt="Download icon" />
                    </div>
                    <div class="col-10 col-lg-10">
                      <div class="button">
                        <div class="link">
                          <a title="Download PDF" href="http://www.cbd.int/doc/?meeting=EWBCSIMA-01" target="_blank">Download &#187;</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="clear push20"></div>
                </div>
              </div>

              <!--  Brochures -->
              <div id="brochures" class="col-9 col-lg-9 tab-pane">
                <!-- TITLE ARTICLE  -->
                <div class="col-10 col-lg-9">
                  <h2>Brochures</h2>
                </div>

                <div class="clear push20"></div>

                <!-- Download PDF column 1  -->
                <div class="col-6 col-lg-6">
                  <div class="col-4 col-lg-4">
                    <a href="#" alt="Brochure for the Ecologically and Biologically Significant Marine Areas">
                      <img src="/app/img/brochure-ebsas.jpg" alt="Brochure for the Ecologically and Biologically Significant Marine Areas" />
                    </a>
                  </div>
                  <div class="col-8 col-lg-8 article">
                    <h3>Brochure for the Ecologically and Biologically Significant Marine Areas (EBSAs)</h3>
                    <div class="col-2 col-lg-2 nopadding">
                      <div class="push20"></div>
                      <img src="/app/img/download-icon.png" alt="Download icon" />
                    </div>
                    <div class="col-10 col-lg-10">
                      <div class="push20"></div>
                      <div class="button">
                        <div class="link">
                          <a title="Download PDF" href="http://www.cbd.int/marine/doc/ebsa-brochure-2012-en.pdf" target="_blank">Download &#187;</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Download PDF column 2  -->
                <div class="col-6 col-lg-6">
                  <div class="col-4 col-lg-4">
                    <a href="#" alt="Brochure for the Scientific Criteria and Guidance">
                      <img src="/app/img/brochures-scientific.jpg" alt="Brochure for the Scientific Criteria and Guidance" />                </a>
                    </div>
                    <div class="col-8 col-lg-8 article">
                      <h3>Brochure for the Scientific Criteria and Guidance for Identifying EBSAs and Designing Representative Networks of Marine Protected Areas in Open Ocean Waters and Deep Sea Habitats</h3>
                      <div class="push20"></div>
                      <div class="col-2 col-lg-2 nopadding">
                        <img src="/app/img/download-icon.png" alt="Download icon" />
                      </div>
                      <div class="col-10 col-lg-10">
                        <div class="button">
                          <div class="link">
                            <a title="Download PDF" href="http://www.cbd.int/marine/doc/azores-brochure-en.pdf" target="_blank">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clear push20"></div>
                  </div>
                </div>

                <!-- Training Materials -->
                <div id="training-materials" class="col-9 col-lg-9 tab-pane">
                  <!-- TITLE ARTICLE  -->
                  <div class="col-4 col-lg-4">
                    <h2>Training materials</h2>
                    <img src="/app/img/resources-5.jpg" alt="Training Materials">
                    <div class="push20"></div>
                    <p>Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p>
                  </div>

                  <!-- ARTICLE  -->
                  <div class="col-8 col-lg-8">
                    <div class="article">
                      <h4>Lorum ipsum dolor</h4>

                      <p>Cil is cus mos re porum et quo occus, vit invel maximagnimin reius mi, con corrum nesto omnihicid ea conecust, nis ari ut rem quistestiati adi dolupta eperestibus dunt quia consequam, unto vidioss enditat.</p>

                      <p>Con estibust doluptur simint occaerior magnam as asimi, adis eaquam qui blab ime porro ma sanderis etus acea dolut eosam, quianda porerciliqui adi nem volo eic to corumque nesecus sitate remodio nserument, nonsequis nobis ipsae plitioremqui quiatemque perferi tibus, sit volectatius iumquae. Nempelit quo mos volores tiaectiore et dolorem facestibeati aut od ut licae doleste modissim rae. Ita nusandit volut omniam, ommoditia di qui commoluptat offici consecum del in cuptati nvenda consequis accum erum et que voloreiciis vella aspe volo quatiae andi temporit est alis dolor modisqu iatqui doluptas eossus volorum accum volore venem conseriam ut perions equibus dolorer umquibus dem quundus, sinctur moluptaque venisci doluptur a debis et eaque eum nobitaquosae incil molore, si quia volectasit everro to es sam, ut as eos dolupta delluptae. Nem fugias que corumquid que quiae. Ita dolorum deliquatust, erunt.</p>

                      <p>Voles eos quasped iatur, vendit maio et expliqui isi cor sus nobis quunt enimin ni suntionsent.</p>

                      <h4>Genisintur, ut iunt qui cum, sim verecta tendae doluptur?</h4>

                      <p>Turiasp ereicid ut volor aut que expercitia cus, omnis a si dolessu ntibus ut et ilis dolupti reroIta nusandit volut omniam, ommoditia di qui commoluptat offici consecum del in cuptati nvenda consequis accum erum et que voloreiciis vella aspe volo quatiae andi temporit est alis dolor modisqu iatqui doluptas eossus volorum accum volore venem conseriam ut perions equibus dolorer umquibus dem quundus, sinctur moluptaque venisci doluptur a debis et eaque eum nobitaquosae incil molore, si quia volectasit everro to es sam, ut as eos dolupta delluptae. Nem fugias que</p>

                      <div class="clear push20"></div>

                      <div class="col-lg-4">
                        <img src="/app/img/trainings-1.jpg" alt="Training number 1" />
                        <h4>Post-ironic PBR pug kale chips fap</h4>
                        <p>Chillwave retro Brooklyn enim Tumblr, voluptate drinking vinegar fanny pack 90's disrupt Schlitz assumenda pour-over sunt hashtag. McSweeney's qui occaecat Odd Future Etsy. Minim dreamcatcher accusa- mus Helvetica, banjo locavore raw denim whatever esse twee readymade.</p>
                        <div class="push20"></div>
                        <div class="button">
                          <div class="link">
                            <a href="#">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <img src="/app/img/trainings-2.jpg" alt="Training number 2" />
                        <h4>Post-ironic PBR pug kale chips fap</h4>
                        <p>Chillwave retro Brooklyn enim Tumblr, voluptate drinking vinegar fanny pack 90's disrupt Schlitz assumenda pour-over sunt hashtag. McSweeney's qui occaecat Odd Future Etsy. Minim dreamcatcher accusa- mus Helvetica, banjo locavore raw denim whatever esse twee readymade.</p>
                        <div class="push20"></div>
                        <div class="button">
                          <div class="link">
                            <a href="#">Download &#187;</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <img src="/app/img/trainings-3.jpg" alt="Training number 3" />
                        <h4>Post-ironic PBR pug kale chips fap</h4>
                        <p>Chillwave retro Brooklyn enim Tumblr, voluptate drinking vinegar fanny pack 90's disrupt Schlitz assumenda pour-over sunt hashtag. McSweeney's qui occaecat Odd Future Etsy. Minim dreamcatcher accusa- mus Helvetica, banjo locavore raw denim whatever esse twee readymade.</p>
                        <div class="push20"></div>
                        <div class="button">
                          <div class="link">
                            <a href="#">Download &#187;</a>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <!-- Relevant Publications -->
                <div id="relevant-publications" class="col-9 col-lg-9 tab-pane">
                  <!-- TITLE ARTICLE  -->
                  <div class="col-4 col-lg-4">
                    <h2>Relevant publications</h2>
                    <img src="/app/img/resources-6.jpg" alt="Relevant Publications">
                    <div class="push20"></div>
                    <p>Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p>
                  </div>

                  <!-- ARTICLE  -->
                  <div class="col-8 col-lg-8">
                    <div class="article">
                      <h4>Biodiesel commodo gentrify, chillwave</h4>

                      <p> Placeat hella Neutra, et officia assumenda pickled hashtag. Cillum cupidatat odio Intelligentsia. Distillery nihil assumenda readymade, Pinterest incididunt adipisicing cillum kogi roof party tote bag aliqua actually eu cupidatat. Cardigan banjo et, chia enim Williamsburg cupidatat. Esse aliqua non meggings pour-over fanny pack. Chia eu tote bag, Odd Future Pinterest farm-to-table gentrify trust fund minim viral sartorial do jean shorts. Biodiesel commodo gentrify, chillwave viral bespoke anim PBR&B put a bird on it kogi organic meggings vegan dolore irony.</p>

                      <h4>Truffaut nostrud master cleanse flexitarian non placeat</h4>

                      <p>Sint vinyl before they sold out assumenda locavore mixtape, magna veniam ad ugh ullamco. Lomo Brooklyn ethnic salvia, ugh odio cliche Tonx Pinterest seitan Echo Park. Organic Helvetica adipisicing, wolf id paleo try-hard gastropub fugiat. Bitters pork belly commodo, Truffaut esse put a bird on it cred Tonx keffiyeh veniam. Wayfarers do id letterpress, roof party gentrify deserunt you probably haven't heard of them. Selfies flannel stumptown gentrify laboris, cillum ad fingerstache next level typewriter vero tempor kogi. Cardigan next level four loko quis biodiesel kale chips, Carles hashtag consequat ullamco narwhal Godard minim VHS twee.</p>

                      <p>Assumenda ex minim, meggings adipisicing XOXO ea veniam farm-to-table vegan hella try-hard quis gentrify single-origin coffee. Actually deep v anim authentic, trust fund est 3 wolf moon freegan try-hard Thundercats semiotics mumblecore next level Schlitz. Cillum plaid ex, Truffaut nostrud master cleanse flexitarian non placeat authentic consequat butcher deserunt cornhole irony. Tumblr fashion axe Truffaut PBR 8-bit, craft beer qui XOXO disrupt bicycle rights VHS nostrud 90's. Ugh veniam gastropub, DIY voluptate cray PBR&B skateboard church-key bitters shabby chic Vice synth chia. Kogi brunch sint narwhal voluptate magna. Schlitz voluptate tattooed ex Wes Anderson.</p>

                      <h4>Pinterest eiusmod mixtape biodiesel pop-up</h4>

                      <p>TCillum kogi authentic narwhal aliqua. Normcore blog irony readymade, cred adipisicing selfies. Mumblecore Echo Park accusamus tousled, est Vice twee flannel master cleanse retro four loko. Nihil post-ironic laborum you probably haven't heard of them drinking vinegar. Occaecat labore Odd Future McSweeney's, eiusmod ea pop-up single-origin coffee mlkshk in ad beard Tonx ullamco. Gentrify salvia gastropub, ut pickled Odd Future Blue Bottle swag. Banksy excepteur enim meh, cred qui High Life dolor retro cardigan organic.</p>

                      <p>Excepteur magna VHS, whatever consequat wayfarers pariatur twee hoodie Neutra YOLO locavore craft beer keffiyeh. Four loko bicycle rights literally, sartorial VHS post-ironic YOLO forage voluptate est Cosby sweater. Try-hard normcore pork belly consequat freegan laboris, chillwave id dolore Pinterest eiusmod mixtape biodiesel pop-up. Small batch flannel shabby chic pariatur fixie. Next level Williamsburg locavore, raw denim leggings Cosby sweater chambray bitters Portland ut photo booth chia sriracha qui sustainable. Sed polaroid disrupt, Neutra deep v Vice fixie. Food truck Thundercats before they sold out DIY qui quinoa.</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!--/row--></div>

