<div class="wrapper" ng-controller="HeaderCtrl">
  <div class="header-bg">
    <div class="container">
      <div class="col-xs-12 col-lg-12 logo-title">
        <div class="col-xs-1 col-lg-1">
          <a href="/ebsa" title="Ecologically or Biologically Significant Marine Areas">
            <img src="img/logo.png" alt="EBSAs logo" />
          </a>
        </div>
        <div class="col-lg-6 col-xs-6 website-title">
          <div class="push15"></div>
          <a href="/ebsa" title="Ecologically or Biologically Significant Marine Areas">
            <h2>Ecologically or Biologically Significant Marine Areas</h2>
            <h3>Special places in the world oceans</h3>
          </a>
        </div>
        <div class="col-lg-5 col-xs-5">
          <form class="navbar-form navbar-right searchBox" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="searchQuery">
              <button type="submit" class="submit" ng-click="searchSite()"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="head-{{page.class}} col-xs-12" ng-show="page.hasHeadImg">
    <div class="container">
      <div class="header">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>


<div class="wrapper menu-bg" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="main-navbar" role="navigation">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}" class="nav-link" ng-bind-html="item.title"></a>
        </li>
      </ul>
    </div><!-- /.navbar -->
  </div>
</div>

<div ng-controller="BreadcrumbsCtrl">
<div class="push20" ng-show="showCrumbs">&nbsp;</div>
<div class="container" ng-show="showCrumbs">
  <ol class="breadcrumb">
  <li ng-repeat="breadcrumb in breadcrumbs" ng-class="{'no-before': $first}">
        <ng-switch on="$last">
          <span ng-switch-when="true">{{breadcrumb.label}}</span>
          <span ng-switch-default>
            <a ng-href="/ebsa{{breadcrumb.path}}">{{breadcrumb.label}}</a>
          </span>
        </ng-switch>
    </li>
  </ol>
</div>
</div>