<div class="row header-row" ng-controller="HeaderCtrl">
  <div class="col-lg-1">
    <img src="blah.png" alt="EBSA" class="brand-image">
  </div>
  <div class="col-lg-9">
    <h2>Ecologically or Biologically Significant Marine Areas</h2>
    <h3>Special places in the world oceans.</h3>
  </div>
  <div class="col-lg-2 m-t-s">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<div ng-include="'app/views/header/navbar.html'"></div>
<div ng-include="'app/views/header/breadcrumbs.html'"></div>
