

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right" ng-controller="AboutCtrl">

    <div class="col-lg-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-3 col-lg-3 sidebar">

          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>About</h4>

            <ul class="nav nav-tabs">
              <li class="active"><a href="#vision" data-toggle="tab">Relevant COP decisions</a></li>
              <li><a href="#mission" data-toggle="tab">Strategic plan for Biodiversity 2011 - 2020 and Aichi Biodiversity Targets</a></li>
              <li><a href="#history" data-toggle="tab">Background on EBSAs process</a></li>
            </ul>

          </div>
        </div>

        <div class="tab-content">
          <!--  Relevant COP decisions  -->
          <div id="vision" class="col-9 col-lg-9 tab-pane active">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4 wraptitle">
              <h2>Relevant COP decisions</h2>
              <img class="border-img" src="/app/img/about-1.jpg" alt="Relevant cop decision" />
              <div class="clear push20"></div>
              <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skate- board flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk.</p>
              <div class="push20"></div>
              <div class="button">
                <div class="link">
                  <a href="#">More Information &#187;</a>
                </div>
              </div>
            </div>

            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8 wraparticle">
              <div class="article">

                <h4>Freegan sed High Life chillwave, lo-fi artisan cray</h4>

                <p>Incididunt placeat Cosby sweater, kale chips lomo aute non. Fap biodiesel mlkshk eu before they sold out, eiusmod Vice direct trade dreamcatcher narwhal vinyl gastropub Pitchfork deserunt next level. Whatever flexitarian assumenda, aliqua Godard cillum paleo do kogi seitan bespoke gentrify post-ironic viral drinking vinegar. Before they sold out skateboard Thundercats meggings post-ironic stumptown. Quis lomo culpa, Carles 8-bit cray McSweeney's roof party 3 wolf moon. Mlkshk tempor Brooklyn selvage ad Shoreditch.</p>

                <h4>Retro esse cornhole, food truck Cosby sweater deserunt magna semiotics tofu organic sint</h4>

                <p>Nostrud try-hard labore, cred bitters disrupt pour-over quis tousled. Wolf tattooed tousled kitsch, single-origin coffee organic id authentic flannel occupy. 8-bit art party kogi, cardigan iPhone Marfa organic nulla Blue Bottle Shoreditch est. Pork belly dolor mlkshk single-origin coffee Etsy. Pop-up ennui officia, tattooed Vice American Apparel photo booth in sartorial proident. Direct trade mustache quinoa messenger bag, selvage actually letterpress Schlitz.</p>

                <p>Fanny pack Helvetica brunch yr, quinoa butcher laboris sriracha officia excepteur American Apparel. Authentic cupidatat art party Banksy. Nisi mollit do post-ironic cred, dolore selfies. Bicycle rights YOLO eiusmod raw denim. Mlkshk letterpress Intelligentsia, pickled delectus Neutra cardigan next level. Et velit flexitarian, Etsy cliche irure minim assumenda trust fund next level fugiat Pitchfork post-ironic bespoke Schlitz. Jean shorts vinyl art party, cardigan Odd Future fashion axe umami selfies farm-to-table Godard duis Shoreditch.
                </p>

              </div>
            </div>
          </div>

          <!--  Strategic plan for Biodiversity -->
          <div id="mission" class="col-9 col-lg-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4 wraptitle">
              <h2>Strategic plan for Biodiversity 2011 - 2020 and Aichi Biodiversity Targets</h2>
              <img class="border-img" src="/app/img/about-2.jpg" alt="strategic plan for biodiversity" />
              <div class="clear push20"></div>
              <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skate- board flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk.</p>
              <div class="push20"></div>
              <div class="button">
                <div class="link">
                  <a href="#">More Information &#187;</a>
                </div>
              </div>
            </div>

            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8 wraparticle">
              <div class="article">
                <h4>Portland Wes Anderson odio cupidatat non try-hard</h4>

                <p>Tofu magna single-origin coffee anim. Aute wolf distillery eu, cillum Blue Bottle labore laboris polaroid. Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p>

                <h4>Wes Anderson sapiente proident laboris master cleanse Carles</h4>

                <p>
                  Literally cardigan placeat 8-bit, keytar cliche art party 3 wolf moon pug butcher. Photo booth aute ethical fashion axe try-hard magna. Anim wayfarers try-hard Banksy chia occupy. Consectetur wolf occupy, forage mlkshk direct trade consequat pariatur sed Shoreditch enim McSweeney's aliqua. Narwhal hashtag minim hella church-key Helvetica typewriter et mumblecore, organic scenester vinyl ethical. Deep v deserunt Blue Bottle, twee +1 qui labore you probably haven't heard of them keffiyeh brunch nisi.
                </p>

                <p>
                  Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skateboard flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk. Flexitarian Schlitz viral ethnic keffiyeh Odd Future eu mixtape. +1 ea enim Marfa quis occupy, asymmetrical aesthetic occaecat High Life YOLO. Distillery Brooklyn voluptate Wes Anderson, nostrud Thundercats Williams- burg letterpress Intelligentsia four loko scenester sriracha Schlitz duis Tonx.
                </p>

                <h4>Freegan dreamcatcher hoodie small batch ugh aesthetic</h4>

                <p>
                  Thundercats ad Etsy bitters readymade American Apparel fashion axe Wes Anderson. Accusamus blog enim cillum cred. Beard lomo culpa, bespoke aliqua eiusmod keytar yr elit. Direct trade bicycle rights sed, photo booth freegan raw denim YOLO Wes Anderson VHS. Art party freegan placeat, readymade sed YOLO eiusmod you probably haven't heard of them beard farm-to-table nisi cliche slow-carb meh. Kogi dolore leggings butcher. Wayfarers you probably haven't heard of them disrupt pop-up quinoa Tonx.
                </p>
              </div>
            </div>

          </div>

          <!-- Background on EBSAs Process -->
          <div id="history" class="col-9 col-lg-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4 wraptitle">
              <h2>Background on EBSAs Process</h2>
              <img class="border-img" src="/app/img/about-3.jpg" alt="Background on EBSAs Process" />
              <div class="clear push20"></div>
              <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skate- board flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk.</p>
              <div class="push20"></div>
              <div class="button">
                <div class="link">
                  <a href="#">More Information &#187;</a>
                </div>
              </div>
            </div>

            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8 wraparticle">
              <div class="article">
                <h4>Background on the EBSA Process</h4>
                <p>
                  The EBSAs are special areas in the ocean that serve important purposes, in one way or another, to support the healthy functioning of oceans and the many services that it provides.
                </p>

                <p>
                  The ocean is under increasing threat from various human activities. The most pressing threats come from
                  overﬁshing, destructive ﬁshing practices, and illegal, unreported and unregulated ﬁshing activities. Other emerging problems include marine debris, ship-based marine pollution, transfer of alien invasive species, illegal dumping and the legacy of historical dumping, seabed mineral extraction, and noise pollution. The combined impacts of these threats as well as the potential impacts of climate change and ocean acidiﬁcation have placed thousands of species at risk of extinction, and have impaired the structure, function, productivity and resilience of marine ecosystems.
                </p>

                <p>
                  At the present time, the world’s oceans are seriously underprotected, with only approximately 0.8% of the oceans and 6% of territorial seas being within protected area systems. Measures are being taken to increase protection and sustainable management. In order to support effective policy action by countries and competent international and regional organizations, it is critical to build a sound understanding of the most ecologically and biologically important ocean areas that support healthy marine ecosystems.
                </p>

                <h4>Scientific Criteria for Identifying Ecologically or Biologically Significant Marine Areas (EBSAs)</h4>
                <p>
                  In 2008, the ninth meeting of the Conference of the Parties to the Convention on Biological Diversity (COP 9) adopted the following scientific criteria for identifying ecologically or biologically significant marine areas in need of protection in open-ocean waters and deep-sea habitats.
                </p>

                <p>
                  For more details on the EBSA criteria, please see: <a href="https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/ebsaws-2014-01-azores-brochure-en.pdf">https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/ebsaws-2014-01-azores-brochure-en.pdf</a>
                </p>

              </div>
            </div>
          </div>
        </div><!--/span-->

      </div>

    </div><!--/row-->

  </div><!--/.container--></div>
