

<div class="container">
  <div class="row row-offcanvas row-offcanvas-right" ng-controller="AboutCtrl">

    <div class="col-lg-12">
      <div class="row">

        <!-- TABS  -->
        <div class="col-3 col-lg-3 sidebar">

          <div class="bs-sidebar hidden-print" role="complementary">
            <h4>About</h4>

            <ul class="nav nav-tabs">
              <li class="active"><a href="#vision" data-toggle="tab">Relevant COP decisions</a></li>
              <li><a href="#mission" data-toggle="tab">Strategic plan for Biodiversity 2011 - 2020 and Aichi Biodiversity Targets</a></li>
              <li><a href="#history" data-toggle="tab">Background on EBSAs process</a></li>
            </ul>

          </div>
        </div>

        <div class="tab-content">
          <!--  Relevant COP decisions  -->
          <div id="vision" class="col-9 col-lg-9 tab-pane active">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4 wraptitle">
              <h2>Relevant COP decisions</h2>
              <img class="border-img" src="/app/img/about-1.jpg" alt="Relevant cop decision" />
              <div class="clear push20"></div>
              <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skate- board flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk.</p>
              <div class="push20"></div>
              <div class="button">
                <div class="link">
                  <a href="#">More Information &#187;</a>
                </div>
              </div>
            </div>

            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8 wraparticle">
              <div class="article">

                <h4>Freegan sed High Life chillwave, lo-fi artisan cray</h4>

                <p>Incididunt placeat Cosby sweater, kale chips lomo aute non. Fap biodiesel mlkshk eu before they sold out, eiusmod Vice direct trade dreamcatcher narwhal vinyl gastropub Pitchfork deserunt next level. Whatever flexitarian assumenda, aliqua Godard cillum paleo do kogi seitan bespoke gentrify post-ironic viral drinking vinegar. Before they sold out skateboard Thundercats meggings post-ironic stumptown. Quis lomo culpa, Carles 8-bit cray McSweeney's roof party 3 wolf moon. Mlkshk tempor Brooklyn selvage ad Shoreditch.</p>

                <h4>Retro esse cornhole, food truck Cosby sweater deserunt magna semiotics tofu organic sint</h4>

                <p>Nostrud try-hard labore, cred bitters disrupt pour-over quis tousled. Wolf tattooed tousled kitsch, single-origin coffee organic id authentic flannel occupy. 8-bit art party kogi, cardigan iPhone Marfa organic nulla Blue Bottle Shoreditch est. Pork belly dolor mlkshk single-origin coffee Etsy. Pop-up ennui officia, tattooed Vice American Apparel photo booth in sartorial proident. Direct trade mustache quinoa messenger bag, selvage actually letterpress Schlitz.</p>

                <p>Fanny pack Helvetica brunch yr, quinoa butcher laboris sriracha officia excepteur American Apparel. Authentic cupidatat art party Banksy. Nisi mollit do post-ironic cred, dolore selfies. Bicycle rights YOLO eiusmod raw denim. Mlkshk letterpress Intelligentsia, pickled delectus Neutra cardigan next level. Et velit flexitarian, Etsy cliche irure minim assumenda trust fund next level fugiat Pitchfork post-ironic bespoke Schlitz. Jean shorts vinyl art party, cardigan Odd Future fashion axe umami selfies farm-to-table Godard duis Shoreditch.
                </p>

              </div>
            </div>
          </div>

          <!--  Strategic plan for Biodiversity -->
          <div id="mission" class="col-9 col-lg-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4 wraptitle">
              <h2>Strategic plan for Biodiversity 2011 - 2020 and Aichi Biodiversity Targets</h2>
              <img class="border-img" src="/app/img/about-2.jpg" alt="strategic plan for biodiversity" />
              <div class="clear push20"></div>
              <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skate- board flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk.</p>
              <div class="push20"></div>
              <div class="button">
                <div class="link">
                  <a href="#">More Information &#187;</a>
                </div>
              </div>
            </div>

            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8 wraparticle">
              <div class="article">
                <h4>Portland Wes Anderson odio cupidatat non try-hard</h4>

                <p>Tofu magna single-origin coffee anim. Aute wolf distillery eu, cillum Blue Bottle labore laboris polaroid. Hella Neutra dreamcatcher, DIY pour-over irony chia pug. Banh mi laboris beard tempor. Kale chips next level synth, single-origin coffee umami adipisicing ut small batch hashtag aliqua twee craft beer. Raw denim craft beer keytar freegan, American Apparel sapiente consequat pug minim voluptate irure quinoa shabby chic eiusmod.</p>

                <h4>Wes Anderson sapiente proident laboris master cleanse Carles</h4>

                <p>
                  Literally cardigan placeat 8-bit, keytar cliche art party 3 wolf moon pug butcher. Photo booth aute ethical fashion axe try-hard magna. Anim wayfarers try-hard Banksy chia occupy. Consectetur wolf occupy, forage mlkshk direct trade consequat pariatur sed Shoreditch enim McSweeney's aliqua. Narwhal hashtag minim hella church-key Helvetica typewriter et mumblecore, organic scenester vinyl ethical. Deep v deserunt Blue Bottle, twee +1 qui labore you probably haven't heard of them keffiyeh brunch nisi.
                </p>

                <p>
                  Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skateboard flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk. Flexitarian Schlitz viral ethnic keffiyeh Odd Future eu mixtape. +1 ea enim Marfa quis occupy, asymmetrical aesthetic occaecat High Life YOLO. Distillery Brooklyn voluptate Wes Anderson, nostrud Thundercats Williams- burg letterpress Intelligentsia four loko scenester sriracha Schlitz duis Tonx.
                </p>

                <h4>Freegan dreamcatcher hoodie small batch ugh aesthetic</h4>

                <p>
                  Thundercats ad Etsy bitters readymade American Apparel fashion axe Wes Anderson. Accusamus blog enim cillum cred. Beard lomo culpa, bespoke aliqua eiusmod keytar yr elit. Direct trade bicycle rights sed, photo booth freegan raw denim YOLO Wes Anderson VHS. Art party freegan placeat, readymade sed YOLO eiusmod you probably haven't heard of them beard farm-to-table nisi cliche slow-carb meh. Kogi dolore leggings butcher. Wayfarers you probably haven't heard of them disrupt pop-up quinoa Tonx.
                </p>
              </div>
            </div>

          </div>

          <!-- Background on EBSAs Process -->
          <div id="history" class="col-9 col-lg-9 tab-pane">
            <!-- TITLE ARTICLE  -->
            <div class="col-4 col-lg-4 wraptitle">
              <h2>Background on EBSAs process</h2>
              <img class="border-img" src="/app/img/about-3.jpg" alt="Background on EBSAs Process" />
              <div class="clear push20"></div>
              <p>Narwhal disrupt ex, tempor officia do anim Odd Future vegan fanny pack. Pork belly Tonx try-hard adipisicing bespoke, voluptate skate- board flannel mlkshk locavore. Tofu raw denim disrupt hoodie chia consectetur. Retro eiusmod aute cliche, ugh 8-bit deep v paleo aliqua mlkshk.</p>
              <div class="push20"></div>
              <div class="button">
                <div class="link">
                  <a href="#">More Information &#187;</a>
                </div>
              </div>
            </div>

            <!-- ARTICLE  -->
            <div class="col-8 col-lg-8 wraparticle">
              <div class="article">
                <h4>Cosby sweater culpa messenger bag literally vinyl</h4>

                <p>You probably haven't heard of them try-hard dreamcatcher fingerstache, sustainable Pitchfork quinoa. Mixtape drinking vinegar Cosby sweater, gastropub whatever mumblecore aesthetic cardigan qui fixie. Est in direct trade small batch, ennui tofu mustache fingerstache art party polaroid food truck esse voluptate fashion axe. Ennui 8-bit cillum McSweeney's. Ea quis ut VHS ennui artisan. Magna Carles assumenda nostrud McSweeney's. PBR chia aute, food truck Thundercats skateboard small batch quinoa.</p>

                <h4>Polaroid Cosby sweater voluptate, umami keffiyeh vegan aute Echo Park 8-bit PBR odio</h4>

                <p>In voluptate Godard, laboris placeat raw denim Cosby sweater. Mixtape dolore yr, hashtag sed kogi hella. Nulla selvage wayfarers Williamsburg readymade, Truffaut Portland exercitation quinoa. Fap ullamco sint swag shabby chic plaid. Lo-fi ennui beard twee. Truffaut stumptown ut quinoa, mlkshk elit authentic tempor cardigan photo booth pour-over squid cliche literally post-ironic. Keffiyeh cillum officia, eu irure pork belly narwhal elit roof party chia.</p>

                <h4>Truffaut stumptown ut quinoa, mlkshk elit authentic tempor cardigan photo </h4>

                <p>PBR sunt consequat, sint id asymmetrical hoodie sapiente vero. Farm-to-table placeat mustache kale chips Shoreditch semiotics kogi, cillum Williamsburg duis ullamco Etsy pop-up. Biodiesel twee banjo whatever. Nihil locavore scenester mlkshk, officia adipisicing est commodo chia Schlitz proident mollit. Photo booth occupy roof party, seitan wolf locavore Shoreditch Neutra fap Truffaut proident nesciunt hoodie ullamco church-key. Authentic dolor veniam, Pitchfork Portland tattooed deserunt sapiente. Polaroid Cosby sweater voluptate, umami keffiyeh vegan aute Echo Park 8-bit PBR odio</p>

                <h4>Aliquip chia skateboard, letterpress pickled vegan biodiesel post-ironic</h4>

                <p>Pariatur scenester meggings dolore. Cred duis salvia elit, locavore next level laboris food truck Marfa labore Carles YOLO Pinterest aliquip. Aliquip chia skateboard, letterpress pickled vegan biodiesel post-ironic American Apparel exercitation Terry Richardson. Tattooed Cosby sweater Vice tempor ex quinoa. Aute irure kitsch in occaecat letterpress. Vegan Cosby sweater sartorial photo booth, brunch assumenda food truck leggings pour-over yr ex. Anim aliqua vinyl, sed plaid whatever aesthetic umami scenester voluptate DIY polaroid Williamsburg pork belly kitsch.</p>

                <p>Cillum 3 wolf moon sed organic McSweeney's. Schlitz flannel pickled, sed odio quis deep v yr quinoa culpa ethical vero. Banjo Williamsburg nesciunt, meggings tattooed sunt try-hard irure magna. Master cleanse kogi mixtape mustache locavore, cray Cosby sweater culpa messenger bag literally vinyl. Schlitz 90's salvia officia single-origin coffee, nostrud street art cornhole meh keytar put a bird on it. XOXO cupidatat Terry Richardson direct trade, raw denim pour-over swag nostrud odio eiusmod Blue Bottle narwhal street art vegan. Ethnic raw denim lo-fi ullamco direct trade, meggings seitan duis eu High Life elit ethical sunt.</p>
              </div>
            </div>
          </div>
        </div><!--/span-->

      </div>

    </div><!--/row-->

  </div><!--/.container--></div>
